ITS_Application_Node-red_Flows.json
[{"id":"c726f522.2db7f8","type":"tab","label":"Intelligent Transport System","disabled":false,"info":""},{"id":"326374d8.bdfc0c","type":"tab","label":"voyageur","disabled":false,"info":""},{"id":"9ebd82db.7cac3","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"bf4f4e27.648d4","type":"tab","label":"Base station Controle Train ","disabled":false,"info":""},{"id":"79fb1988.5b1898","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Train Simulation","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ab81464d.aef2b8","type":"mqtt-broker","name":"","broker":"cmw.ext.innovarail.indra.es","port":"8886","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b6f8b744.b67208","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1813400b.bd6be","type":"mqtt-broker","name":"","broker":"cmw.ext.innovarail.indra.es","port":"8886","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65c0cd96.f11a84","type":"ui_group","name":"Infos","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b2b23ee.65f5e","type":"ui_group","name":"Power","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"47204b54.5084a4","type":"ui_group","name":"Brake","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"16686fb5.b059c","type":"ui_group","name":"Doors","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e025a362.fb38a","type":"ui_group","name":"Speed","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"20993fae.88778","type":"ui_group","name":"Drift","tab":"f302da67.894b18","order":6,"disp":true,"width":"6","collapse":false},{"id":"f302da67.894b18","type":"ui_tab","name":"Train Drift","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5fe37719.9212c8","type":"ui_group","name":"Stations","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd344564.b16478","type":"ui_group","name":"Accelerometer","tab":"d1a284a7.3afa98","order":6,"disp":true,"width":"6","collapse":true},{"id":"d1a284a7.3afa98","type":"ui_tab","name":"Indra","icon":"dashboard","disabled":false,"hidden":false},{"id":"54182af1.c9e264","type":"ui_group","name":"Control","tab":"d1a284a7.3afa98","order":4,"disp":true,"width":"6","collapse":false},{"id":"445e7d84.84c3b4","type":"ui_group","name":"Generic","tab":"d1a284a7.3afa98","order":7,"disp":true,"width":"6","collapse":true},{"id":"5d9a2c9c.5b4d84","type":"ui_group","name":"Positionning","tab":"d1a284a7.3afa98","order":5,"disp":true,"width":"6","collapse":true},{"id":"e2aa01f6.fa0e3","type":"ui_group","name":"Others","tab":"d1a284a7.3afa98","order":8,"disp":true,"width":"6","collapse":true},{"id":"9809ee4e.db2f1","type":"ui_group","name":"Choose Topic","tab":"d1a284a7.3afa98","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d45dc50.6ed724","type":"ui_group","name":"Choose File","tab":"d1a284a7.3afa98","order":1,"disp":true,"width":"6","collapse":false},{"id":"4094d50c.70769c","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"9587b911.17f598","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"6bbe277d.ee8568","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"f2712018.9f11c","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"c59b20b8.e33ae","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"3e9dcc13.b11114","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"441c9d7e.effc14","type":"mqtt-broker","name":"","broker":"cmw.ext.innovarail.indra.es","port":"8886","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89962be6.a4f988","type":"ui_tab","name":"Train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6f6b8146.5336f","type":"ui_group","name":"Infos","tab":"89962be6.a4f988","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba41ceb9.bded2","type":"ui_group","name":"Power","tab":"89962be6.a4f988","order":5,"disp":true,"width":"6","collapse":false},{"id":"5891cb1c.1f4ae4","type":"ui_group","name":"Brake","tab":"89962be6.a4f988","order":6,"disp":true,"width":"6","collapse":false},{"id":"2ea4c399.bac9bc","type":"ui_group","name":"Doors","tab":"89962be6.a4f988","order":3,"disp":true,"width":"6","collapse":false},{"id":"5f7e5653.374d28","type":"ui_group","name":"Speed","tab":"89962be6.a4f988","order":4,"disp":true,"width":"6","collapse":false},{"id":"d03db943.fdeb28","type":"ui_group","name":"Drift","tab":"10c74f3f.f90821","order":6,"disp":true,"width":"6","collapse":false},{"id":"10c74f3f.f90821","type":"ui_tab","name":"Train Drift","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"622b0d46.410b74","type":"ui_group","name":"Stations","tab":"89962be6.a4f988","order":2,"disp":true,"width":"6","collapse":false},{"id":"d2c4a340.7eec","type":"ui_group","name":"Accelerometer","tab":"fa8e3094.c8ff7","order":6,"disp":true,"width":"6","collapse":true},{"id":"fa8e3094.c8ff7","type":"ui_tab","name":"Indra","icon":"dashboard","disabled":false,"hidden":false},{"id":"6beeec87.dce7a4","type":"ui_group","name":"Control","tab":"fa8e3094.c8ff7","order":4,"disp":true,"width":"6","collapse":false},{"id":"effe0afd.4d3e78","type":"ui_group","name":"Generic","tab":"fa8e3094.c8ff7","order":7,"disp":true,"width":"6","collapse":true},{"id":"b238426c.9f94","type":"ui_group","name":"Positionning","tab":"fa8e3094.c8ff7","order":5,"disp":true,"width":"6","collapse":true},{"id":"be9541c6.e7b9f","type":"ui_group","name":"Others","tab":"fa8e3094.c8ff7","order":8,"disp":true,"width":"6","collapse":true},{"id":"5dd718a3.9663c8","type":"ui_group","name":"Choose Topic","tab":"fa8e3094.c8ff7","order":2,"disp":true,"width":"6","collapse":false},{"id":"32a605a4.95b4da","type":"ui_group","name":"Choose File","tab":"fa8e3094.c8ff7","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfb57741.b90668","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"e2d5843f.aa3b38","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"84287d53.0d08c","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"953359e8.07f448","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"83cecb26.27ffa8","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"9d18d318.2d7c4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8cf9ff24.d2d6b","type":"mqtt-broker","name":"","broker":"172.20.10.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc4901db.54017","type":"mqtt-broker","name":"publicBroker","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e654dde.0cb13","type":"ui_group","name":"Default","tab":"f0947725.7f7fa8","order":1,"disp":true,"width":"6"},{"id":"f0947725.7f7fa8","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"e67eed11.39426","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3318b84c.b139a8","type":"mqtt-broker","name":"publicBroker","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c81d583b.2eb258","type":"ui_group","name":"Infos","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d566085c.f1c528","type":"ui_group","name":"Default","tab":"51d68d26.728f54","order":1,"disp":true,"width":"6"},{"id":"1652d617.3cbf1a","type":"ui_group","name":"Doors","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"51d68d26.728f54","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"58e46a3f.674144","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fca86beb.386888","type":"mqtt-broker","name":"publicBroker","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"306ef729.14dac8","type":"ui_group","name":"Infos","tab":"ab0db89c.57f2e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"277aa3d8.51384c","type":"ui_group","name":"Default","tab":"46018c5f.afd264","order":1,"disp":true,"width":"6"},{"id":"c276e9ab.02f6b8","type":"ui_group","name":"Doors","tab":"ab0db89c.57f2e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab0db89c.57f2e8","type":"ui_tab","name":"Train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"46018c5f.afd264","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"7c850f23.9615d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d51d370.1d48c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e84bfbf.71b1b","type":"ui_group","name":"myDashBoard","tab":"fc9830be.9d82e","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc9830be.9d82e","type":"ui_tab","name":"TER","icon":"dashboard","disabled":false,"hidden":false},{"id":"b67d7ac9.0cbc78","type":"mqtt-broker","name":"publicBroker","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e76d1b5b.297bc8","type":"ui_group","name":"Train info and Emergency Stop/Call","tab":"ab661a74.091e28","order":1,"disp":true,"width":"10","collapse":false},{"id":"75d10a4a.0cb5c4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab661a74.091e28","type":"ui_tab","name":"Base Station Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"12c82f99.ebd97","type":"ui_group","name":"Doors","tab":"ab661a74.091e28","order":2,"disp":true,"width":"10","collapse":false},{"id":"e01c2e8b.710ff","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":180,"y":160,"wires":[["46579329.65f4dc","9fb8b357.9cf8a"]]},{"id":"46579329.65f4dc","type":"ui_gauge","z":"9ebd82db.7cac3","name":"","group":"5f7e5653.374d28","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":140,"wires":[]},{"id":"3bce893b.cf00c6","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":190,"y":100,"wires":[["77060015.c7438"]]},{"id":"77060015.c7438","type":"ui_text","z":"9ebd82db.7cac3","group":"5f7e5653.374d28","order":3,"width":0,"height":0,"name":"","label":"Acceleration : ","format":"{{msg.payload}}","layout":"row-left","x":440,"y":100,"wires":[]},{"id":"a629b9d6.1c0348","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/powerUp","qos":"","retain":"","broker":"9d18d318.2d7c4","x":400,"y":480,"wires":[]},{"id":"3a6cba6.0e8ee46","type":"inject","z":"9ebd82db.7cac3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":500,"wires":[["a629b9d6.1c0348"]]},{"id":"9dc2d870.fe2ea8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/powerDown","qos":"","retain":"","broker":"9d18d318.2d7c4","x":410,"y":580,"wires":[]},{"id":"6dbb55e8.5056ec","type":"inject","z":"9ebd82db.7cac3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":560,"wires":[["9dc2d870.fe2ea8"]]},{"id":"904a82c0.d6a46","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"ba41ceb9.bded2","order":2,"width":3,"height":1,"passthru":false,"label":"Power Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":130,"y":600,"wires":[["9dc2d870.fe2ea8"]]},{"id":"6473b933.9fadd8","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"ba41ceb9.bded2","order":3,"width":3,"height":1,"passthru":false,"label":"Power Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":460,"wires":[["a629b9d6.1c0348"]]},{"id":"9bdbece0.297e6","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/brakeIncrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1170,"y":500,"wires":[]},{"id":"9946ded.6efb72","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1170,"y":540,"wires":[]},{"id":"edae6aff.d59768","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"5891cb1c.1f4ae4","order":3,"width":3,"height":1,"passthru":false,"label":"Brake +","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":830,"y":500,"wires":[["9bdbece0.297e6"]]},{"id":"e1b8900b.2411e","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"5891cb1c.1f4ae4","order":2,"width":3,"height":1,"passthru":false,"label":"Brake -","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":830,"y":540,"wires":[["9946ded.6efb72"]]},{"id":"7e1c98e4.96aba8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/reverserForward","qos":"","retain":"","broker":"9d18d318.2d7c4","x":420,"y":420,"wires":[]},{"id":"589fdd8f.1e9574","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"ba41ceb9.bded2","order":4,"width":3,"height":1,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":420,"wires":[["7e1c98e4.96aba8"]]},{"id":"1af15c79.c92324","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":860,"y":660,"wires":[["8a4bcf82.1eff9","3dd1ff79.c7388"]]},{"id":"7d592a7e.f1bc44","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":770,"y":60,"wires":[["7b0111c2.a74a"]]},{"id":"e7495301.dae44","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":770,"y":100,"wires":[["780fa3c9.174ebc"]]},{"id":"7b0111c2.a74a","type":"ui_text","z":"9ebd82db.7cac3","group":"2ea4c399.bac9bc","order":3,"width":0,"height":0,"name":"","label":"Door left :","format":"{{msg.payload}}","layout":"row-left","x":1020,"y":40,"wires":[]},{"id":"780fa3c9.174ebc","type":"ui_text","z":"9ebd82db.7cac3","group":"2ea4c399.bac9bc","order":4,"width":0,"height":0,"name":"","label":"Door Right :","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":100,"wires":[]},{"id":"d66c69aa.ef4808","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":160,"y":240,"wires":[["c065fcdc.4c5d7","f0f2f52.d848608"]]},{"id":"c065fcdc.4c5d7","type":"ui_text","z":"9ebd82db.7cac3","group":"5f7e5653.374d28","order":2,"width":0,"height":0,"name":"","label":"Limit :","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":220,"wires":[]},{"id":"78b34add.fcf5e4","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/infos/distanceToNextStation","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":190,"y":900,"wires":[["39bd2b03.9dc5b4"]]},{"id":"39bd2b03.9dc5b4","type":"function","z":"9ebd82db.7cac3","name":"split string","func":"var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":900,"wires":[["1b7a38eb.d20c57"]]},{"id":"73226464.e527fc","type":"comment","z":"9ebd82db.7cac3","name":"Speed","info":"","x":90,"y":60,"wires":[]},{"id":"8a4bcf82.1eff9","type":"ui_gauge","z":"9ebd82db.7cac3","name":"","group":"5891cb1c.1f4ae4","order":1,"width":0,"height":0,"gtype":"gage","title":"Brakes","label":"units","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":640,"wires":[]},{"id":"8ac972e7.b681b","type":"ui_text","z":"9ebd82db.7cac3","group":"622b0d46.410b74","order":1,"width":0,"height":0,"name":"","label":"Train stations (distances)","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":860,"wires":[]},{"id":"1ca61239.2cb85e","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/sensors/soundsPlaying","qos":"0","datatype":"auto","broker":"b6f8b744.b67208","x":180,"y":800,"wires":[["40f2f328.d6614c"]]},{"id":"e07f18ec.3fe6e8","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/power","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":160,"y":360,"wires":[["34862b91.8a37f4","61615624.7971a8"]]},{"id":"34862b91.8a37f4","type":"ui_gauge","z":"9ebd82db.7cac3","name":"","group":"ba41ceb9.bded2","order":1,"width":0,"height":0,"gtype":"gage","title":"Power","label":"units","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":340,"wires":[]},{"id":"40f2f328.d6614c","type":"ui_text","z":"9ebd82db.7cac3","group":"6f6b8146.5336f","order":1,"width":0,"height":0,"name":"","label":"Nb of Sounds : ","format":"{{msg.payload}}","layout":"row-left","x":400,"y":800,"wires":[]},{"id":"c9bf2d7b.cde0a","type":"comment","z":"9ebd82db.7cac3","name":"Power","info":"","x":70,"y":320,"wires":[]},{"id":"3f122b6d.805124","type":"comment","z":"9ebd82db.7cac3","name":"General Infos","info":"","x":90,"y":760,"wires":[]},{"id":"c6295f6.936eda","type":"comment","z":"9ebd82db.7cac3","name":"Doors","info":"","x":730,"y":20,"wires":[]},{"id":"38446417.3141fc","type":"comment","z":"9ebd82db.7cac3","name":"Brakes","info":"","x":800,"y":460,"wires":[]},{"id":"9fb8b357.9cf8a","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":180,"wires":[["24c8d569.d9398a"]]},{"id":"f0f2f52.d848608","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":260,"wires":[["24c8d569.d9398a"]]},{"id":"24c8d569.d9398a","type":"ui_chart","z":"9ebd82db.7cac3","name":"","group":"5f7e5653.374d28","order":4,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ea2728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":530,"y":220,"wires":[[]]},{"id":"90be6b77.624ad8","type":"ui_chart","z":"9ebd82db.7cac3","name":"","group":"5f7e5653.374d28","order":5,"width":0,"height":0,"label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":510,"y":380,"wires":[[]]},{"id":"e0326ca8.a8dee","type":"ui_chart","z":"9ebd82db.7cac3","name":"","group":"5f7e5653.374d28","order":6,"width":0,"height":0,"label":"Brakes","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1240,"y":680,"wires":[[]]},{"id":"61615624.7971a8","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":380,"wires":[["90be6b77.624ad8"]]},{"id":"3dd1ff79.c7388","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1090,"y":680,"wires":[["e0326ca8.a8dee"]]},{"id":"f0d0d758.cfcfc8","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/reverser","qos":"2","datatype":"auto","broker":"9d18d318.2d7c4","x":170,"y":640,"wires":[["d7b1a635.8a1fa8"]]},{"id":"d7b1a635.8a1fa8","type":"ui_text","z":"9ebd82db.7cac3","group":"ba41ceb9.bded2","order":6,"width":0,"height":0,"name":"","label":"Reverser :","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":640,"wires":[]},{"id":"514b14ed.03a0ec","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/reverserBackward","qos":"","retain":"","broker":"9d18d318.2d7c4","x":430,"y":700,"wires":[]},{"id":"459be187.7c848","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"ba41ceb9.bded2","order":5,"width":3,"height":1,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":700,"wires":[["514b14ed.03a0ec"]]},{"id":"edb661f2.df876","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/infos/distanceToTrain","qos":"0","datatype":"auto","broker":"b6f8b744.b67208","x":170,"y":940,"wires":[["c11f80d2.a3899"]]},{"id":"c11f80d2.a3899","type":"ui_text","z":"9ebd82db.7cac3","group":"6f6b8146.5336f","order":2,"width":0,"height":0,"name":"","label":"Distance to next train : ","format":"{{msg.payload}}","layout":"row-left","x":440,"y":940,"wires":[]},{"id":"3468dc32.4dee04","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"train/actuators/sound1","qos":"","retain":"","broker":"b6f8b744.b67208","x":440,"y":1000,"wires":[]},{"id":"4e195777.8ec8e8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"train/actuators/sound2","qos":"","retain":"","broker":"b6f8b744.b67208","x":440,"y":1040,"wires":[]},{"id":"90751dd4.78e25","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/infos/sound1","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":150,"y":1100,"wires":[["8dd830a7.da51f","d02d952b.3fca98"]]},{"id":"8dd830a7.da51f","type":"ui_text","z":"9ebd82db.7cac3","group":"6f6b8146.5336f","order":3,"width":0,"height":0,"name":"","label":"sound 1 is playing :","format":"{{msg.payload}}","layout":"row-center","x":430,"y":1080,"wires":[]},{"id":"5392fa9d.2c1f34","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"train/infos/sound2","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":150,"y":1220,"wires":[["a04c74fc.6d5768","184337ee.e22e88"]]},{"id":"a04c74fc.6d5768","type":"ui_text","z":"9ebd82db.7cac3","group":"6f6b8146.5336f","order":4,"width":0,"height":0,"name":"","label":"sound 2 is playing :","format":"{{msg.payload}}","layout":"row-center","x":430,"y":1200,"wires":[]},{"id":"fae21812.7efd48","type":"ui_switch","z":"9ebd82db.7cac3","name":"","label":"Play sound 1","tooltip":"","group":"6f6b8146.5336f","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"m","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i","offvalueType":"str","officon":"","offcolor":"","x":210,"y":1000,"wires":[["3468dc32.4dee04"]]},{"id":"c41f5d3d.9e1a1","type":"ui_switch","z":"9ebd82db.7cac3","name":"","label":"Play sound 2","tooltip":"","group":"6f6b8146.5336f","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"m","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i","offvalueType":"str","officon":"","offcolor":"","x":210,"y":1040,"wires":[["4e195777.8ec8e8"]]},{"id":"4ca55ae5.635ba4","type":"rbe","z":"9ebd82db.7cac3","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":690,"y":1140,"wires":[["7319c916.68d488"]]},{"id":"90f1104.61960f","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1120,"wires":[["4ca55ae5.635ba4"]]},{"id":"d02d952b.3fca98","type":"switch","z":"9ebd82db.7cac3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1140,"wires":[["90f1104.61960f"],["29d9d7e2.cca4f8"]]},{"id":"29d9d7e2.cca4f8","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1160,"wires":[["4ca55ae5.635ba4"]]},{"id":"7319c916.68d488","type":"link out","z":"9ebd82db.7cac3","name":"","links":["3073e0d6.3732d"],"x":775,"y":1140,"wires":[]},{"id":"3073e0d6.3732d","type":"link in","z":"9ebd82db.7cac3","name":"","links":["7319c916.68d488"],"x":75,"y":1000,"wires":[["fae21812.7efd48"]]},{"id":"7f10ce79.767b3","type":"rbe","z":"9ebd82db.7cac3","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":690,"y":1260,"wires":[["874be6e6.68ddb8"]]},{"id":"6bb44628.131568","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1240,"wires":[["7f10ce79.767b3"]]},{"id":"184337ee.e22e88","type":"switch","z":"9ebd82db.7cac3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1260,"wires":[["6bb44628.131568"],["edf0bf3c.21fd5"]]},{"id":"edf0bf3c.21fd5","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1280,"wires":[["7f10ce79.767b3"]]},{"id":"874be6e6.68ddb8","type":"link out","z":"9ebd82db.7cac3","name":"","links":["b9bdac3.35d0e5"],"x":775,"y":1260,"wires":[]},{"id":"b9bdac3.35d0e5","type":"link in","z":"9ebd82db.7cac3","name":"","links":["874be6e6.68ddb8"],"x":75,"y":1040,"wires":[["c41f5d3d.9e1a1"]]},{"id":"f3bef0fe.e9567","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/doorsLeft","topic":"train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"3e9dcc13.b11114","x":180,"y":100,"wires":[["8137ddc7.c8ef2","906b8d09.5e675"]]},{"id":"cf8bb06f.8e414","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/doorsRight","topic":"train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"b6f8b744.b67208","x":190,"y":160,"wires":[["dbf72040.a4332","c5f815c3.1b71b8"]]},{"id":"18126a49.365776","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":100,"wires":[[]]},{"id":"7a80955a.b7c8cc","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[[]]},{"id":"8137ddc7.c8ef2","type":"function","z":"c726f522.2db7f8","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["18126a49.365776"]]},{"id":"dbf72040.a4332","type":"function","z":"c726f522.2db7f8","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["7a80955a.b7c8cc"]]},{"id":"4ffd862b.2ab068","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/brake","topic":"train/sensors/brake","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":150,"y":480,"wires":[["a86a8079.186d8","346de8f3.f086b8"]]},{"id":"a86a8079.186d8","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[[]]},{"id":"251cf385.f1ef6c","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/currentSpeed","topic":"train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":170,"y":360,"wires":[["7f0b9542.482c2c","8807a1bb.a01f7"]]},{"id":"faf492ef.0a5ab","type":"function","z":"c726f522.2db7f8","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":360,"wires":[["82055810.723528"]]},{"id":"7f0b9542.482c2c","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":360,"wires":[["faf492ef.0a5ab"]]},{"id":"82055810.723528","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"trainSpeed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[[]]},{"id":"e46d6432.e34248","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/doorsLeft","qos":"","retain":"","broker":"9d18d318.2d7c4","x":910,"y":1500,"wires":[]},{"id":"f5846527.e34fb8","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/doorsRight","qos":"","retain":"","broker":"9d18d318.2d7c4","x":910,"y":1620,"wires":[]},{"id":"d4d58f8a.a4371","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/doorsLeft","topic":"its/train/actuators/doorsLeft","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":210,"y":1500,"wires":[["ec117c1b.206e6"]]},{"id":"ec4ceb9a.4dd668","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/doorsRight","topic":"its/train/actuators/doorsRight","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":220,"y":1620,"wires":[["bb2bec84.42cd9"]]},{"id":"9ca54d94.499d7","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/powerUp","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1390,"y":2220,"wires":[]},{"id":"183b3cc2.b80593","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/powerUp","topic":"its/train/actuators/powerUp","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":210,"y":2220,"wires":[["be66b52a.b70d38"]]},{"id":"262c9346.3f141c","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/power","topic":"train/sensors/power","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":150,"y":640,"wires":[["8d8e0367.a5d9c","67869fb8.718ae"]]},{"id":"8d8e0367.a5d9c","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":640,"wires":[["a0db2217.52f46"]]},{"id":"a0db2217.52f46","type":"function","z":"c726f522.2db7f8","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":640,"wires":[["8b873b4e.189238"]]},{"id":"8b873b4e.189238","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"trainPower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":640,"wires":[[]]},{"id":"be66b52a.b70d38","type":"switch","z":"c726f522.2db7f8","name":"check power","property":"trainPower","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2220,"wires":[["8ad2997e.db48e8"]]},{"id":"8ad2997e.db48e8","type":"switch","z":"c726f522.2db7f8","name":"door left check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":780,"y":2220,"wires":[["3f07da18.28d096"],["a584a020.fdeeb"],["1b49e104.7a62cf"]]},{"id":"3f07da18.28d096","type":"switch","z":"c726f522.2db7f8","name":"door right check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":2220,"wires":[["9ca54d94.499d7"],["30777a63.2b1586"],["fe741da8.21eb5"]]},{"id":"a584a020.fdeeb","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":2100,"wires":[["8ad2997e.db48e8"]]},{"id":"1b49e104.7a62cf","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Left doors are opened! Please close theml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2380,"wires":[["1a135d4a.a272b3"]]},{"id":"1a135d4a.a272b3","type":"ui_toast","z":"c726f522.2db7f8","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Left Doors Opened","x":830,"y":2380,"wires":[]},{"id":"30777a63.2b1586","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":2100,"wires":[["3f07da18.28d096"]]},{"id":"fe741da8.21eb5","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Right doors are opened! Please close them","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2340,"wires":[["7d525767.255cc8"]]},{"id":"7d525767.255cc8","type":"ui_toast","z":"c726f522.2db7f8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Right Doors Opened","x":1360,"y":2340,"wires":[]},{"id":"19dea936.d76637","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/reverserForward","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1070,"y":2540,"wires":[]},{"id":"64c8a801.23ff78","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/reverserBackward","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1080,"y":2780,"wires":[]},{"id":"f64e0516.ba2758","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/reverserForward","topic":"its/train/actuators/reverserForward","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":240,"y":2540,"wires":[["27e07cd9.0b1804"]]},{"id":"bdb7205e.a5d14","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/reverserBackward","topic":"its/train/actuators/reverserBackward","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":200,"y":2760,"wires":[["3b284f43.c3957"]]},{"id":"27e07cd9.0b1804","type":"switch","z":"c726f522.2db7f8","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":2540,"wires":[["19dea936.d76637"],["4117aabc.7e16e4"]]},{"id":"3b284f43.c3957","type":"switch","z":"c726f522.2db7f8","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2760,"wires":[["64c8a801.23ff78"],["4117aabc.7e16e4"]]},{"id":"4117aabc.7e16e4","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attention ! you can't change the direction while the train is rolling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":2660,"wires":[["a14c19b7.463668"]]},{"id":"a14c19b7.463668","type":"ui_toast","z":"c726f522.2db7f8","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":" ","name":"Attention ! you can't change the direction while the train is rolling","x":1030,"y":2660,"wires":[]},{"id":"e7d1540f.2d5ca8","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/emergencyStop","topic":"its/train/emergencyStop","qos":"2","datatype":"auto","broker":"3e9dcc13.b11114","x":160,"y":3020,"wires":[["94ff61a5.2f1f7"]]},{"id":"94ff61a5.2f1f7","type":"switch","z":"c726f522.2db7f8","name":"check brake","property":"brake","propertyType":"flow","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":3020,"wires":[["790ee451.31845c"],["6e4ffe3b.55944","6fec572b.497f88"]]},{"id":"6e4ffe3b.55944","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/brakeIncrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":480,"y":3140,"wires":[]},{"id":"6fec572b.497f88","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":2940,"wires":[["94ff61a5.2f1f7"]]},{"id":"3eb7d27e.ea3f6e","type":"ui_toast","z":"c726f522.2db7f8","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Train Stopped","x":1340,"y":3020,"wires":[]},{"id":"790ee451.31845c","type":"switch","z":"c726f522.2db7f8","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":3020,"wires":[["69eab8d8.a9d168"],["7ced8077.2c3db"]]},{"id":"7ced8077.2c3db","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":2940,"wires":[["790ee451.31845c"]]},{"id":"69eab8d8.a9d168","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Train Stopped By The  Passenger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":3020,"wires":[["3eb7d27e.ea3f6e"]]},{"id":"ad33e370.bc6ea","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":140,"y":3360,"wires":[["6c55c6f2.eaf1a8"]]},{"id":"5a9cf13d.30f4b","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/actuators/doorsLeft","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1040,"y":3340,"wires":[]},{"id":"56ae8d42.ad1b04","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/emergencyCall","topic":"its/train/emergencyCall","qos":"2","datatype":"auto","broker":"3e9dcc13.b11114","x":200,"y":4260,"wires":[["acac9b41.9115c8"]]},{"id":"acac9b41.9115c8","type":"ui_audio","z":"c726f522.2db7f8","name":"","group":"6f6b8146.5336f","voice":"","always":true,"x":560,"y":4260,"wires":[]},{"id":"fe77f6.f73b3808","type":"mqtt in","z":"c726f522.2db7f8","name":"","topic":"train/call","qos":"2","datatype":"auto","broker":"fca86beb.386888","x":200,"y":4600,"wires":[["f74b2a7a.0fed28","97a918e9.425498"]]},{"id":"dec66ee5.4ae28","type":"ui_audio","z":"c726f522.2db7f8","name":"Emergency Call","group":"306ef729.14dac8","voice":"Google UK English Female","always":"","x":800,"y":4620,"wires":[]},{"id":"148ebd96.590892","type":"comment","z":"c726f522.2db7f8","name":"Emergency Call","info":"","x":220,"y":4520,"wires":[]},{"id":"f74b2a7a.0fed28","type":"ui_toast","z":"c726f522.2db7f8","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Emergency","x":570,"y":4540,"wires":[]},{"id":"97a918e9.425498","type":"function","z":"c726f522.2db7f8","name":"Set msg.payload to \"Deploy finished.\"","func":"msg.payload = \"Emergency Call.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":4620,"wires":[["dec66ee5.4ae28"]]},{"id":"a378612e.cd27c","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":3220,"wires":[["5dfb291a.17d338"]]},{"id":"c2694ed4.f7c49","type":"comment","z":"c726f522.2db7f8","name":"Stop Train","info":"","x":240,"y":2940,"wires":[]},{"id":"44d20cb.b431ef4","type":"comment","z":"c726f522.2db7f8","name":"Open Left Doors","info":"","x":200,"y":3280,"wires":[]},{"id":"53cb032c.8a513c","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/brakeIncrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":840,"y":1740,"wires":[]},{"id":"7b33d459.f084fc","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/brakeDecrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":850,"y":1860,"wires":[]},{"id":"c2e06fd4.6e791","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/brakeIncrease","topic":"its/train/actuators/brakeIncrease","qos":"2","datatype":"auto","broker":"3e9dcc13.b11114","x":230,"y":1740,"wires":[["53cb032c.8a513c"]]},{"id":"395b0f01.d8759","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/brakeDecrease","topic":"its/train/actuators/brakeDecrease","qos":"2","datatype":"auto","broker":"3e9dcc13.b11114","x":230,"y":1860,"wires":[["7b33d459.f084fc"]]},{"id":"1f5bf9ca.a26d96","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"train/actuators/powerDown","qos":"","retain":"","broker":"9d18d318.2d7c4","x":840,"y":2020,"wires":[]},{"id":"feba25b1.76c6c8","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/actuators/powerDown","topic":"its/train/actuators/powerDown","qos":"2","datatype":"auto","broker":"3e9dcc13.b11114","x":220,"y":2020,"wires":[["1f5bf9ca.a26d96"]]},{"id":"401fa144.bbfc4","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"6f6b8146.5336f","order":8,"width":0,"height":0,"passthru":false,"label":"Start Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":1700,"wires":[["89c9bb93.d1cf98"]]},{"id":"bbc60e0b.0be56","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":230,"y":1460,"wires":[["c1a4603e.61b65"]]},{"id":"1dc0a9cd.1535d6","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":230,"y":1500,"wires":[["7a0a122a.c1213c"]]},{"id":"7a827fb9.8e947","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1460,"wires":[[]]},{"id":"3ae628bc.0eb4b8","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1500,"wires":[[]]},{"id":"89c9bb93.d1cf98","type":"switch","z":"9ebd82db.7cac3","name":"door left check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":1700,"wires":[["1a601b53.854375","7761bad0.a3d044"],["d78110e0.631e1"],["cc9f3f7c.2bbfa","d78110e0.631e1"]]},{"id":"1a601b53.854375","type":"switch","z":"9ebd82db.7cac3","name":"door right check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":1700,"wires":[["6b0333f1.eab28c","9d6062fa.ace37"],["51842895.e29138"],["553563a7.0afc1c","51842895.e29138"]]},{"id":"6b0333f1.eab28c","type":"switch","z":"9ebd82db.7cac3","name":"check reverser","property":"reverser","propertyType":"flow","rules":[{"t":"eq","v":"Forwards","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1700,"wires":[["bf5ce20a.263ec"],["6eeb28d5.45d828","bf5ce20a.263ec","c700894a.29e688"]]},{"id":"cc9f3f7c.2bbfa","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/doorsLeft","qos":"","retain":"","broker":"9d18d318.2d7c4","x":400,"y":1760,"wires":[]},{"id":"d78110e0.631e1","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1620,"wires":[["89c9bb93.d1cf98"]]},{"id":"51842895.e29138","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1620,"wires":[["1a601b53.854375"]]},{"id":"553563a7.0afc1c","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/doorsRight","qos":"","retain":"","broker":"9d18d318.2d7c4","x":660,"y":1760,"wires":[]},{"id":"6eeb28d5.45d828","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/reverserForward","qos":"","retain":"","broker":"9d18d318.2d7c4","x":960,"y":1760,"wires":[]},{"id":"8ac56b62.abb658","type":"switch","z":"9ebd82db.7cac3","name":"check brake","property":"brake","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1900,"wires":[["83749d58.6b7b6","8dab5acf.c84428"],["237128fc.8c89d8","5399455b.21521c"]]},{"id":"d1c1a06c.0d623","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1460,"wires":[[]]},{"id":"f9425144.942da","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":840,"y":1460,"wires":[["d1c1a06c.0d623"]]},{"id":"83749d58.6b7b6","type":"switch","z":"9ebd82db.7cac3","name":"check power","property":"power","propertyType":"flow","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gt","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":1900,"wires":[["ddd2674f.eb5a58","ff50c51f.71d0e8"],["9b274289.3e39a","ecb211f9.0591"]]},{"id":"ddd2674f.eb5a58","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/powerUp","qos":"","retain":"","broker":"9d18d318.2d7c4","x":720,"y":1960,"wires":[]},{"id":"237128fc.8c89d8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":400,"y":1960,"wires":[]},{"id":"5399455b.21521c","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1840,"wires":[["8ac56b62.abb658"]]},{"id":"ff50c51f.71d0e8","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":1840,"wires":[["83749d58.6b7b6"]]},{"id":"81e56c5a.d78f1","type":"ui_toast","z":"9ebd82db.7cac3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Train started","name":"Train Started","x":1070,"y":1900,"wires":[]},{"id":"1a9d9ec9.357441","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/power","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":840,"y":1500,"wires":[["dd3c60c7.a86de"]]},{"id":"a463747e.933328","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"power","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1500,"wires":[[]]},{"id":"dd3c60c7.a86de","type":"function","z":"9ebd82db.7cac3","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1500,"wires":[["a463747e.933328"]]},{"id":"70067213.42adec","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/reverser","qos":"2","datatype":"auto","broker":"9d18d318.2d7c4","x":230,"y":1540,"wires":[["aeb3d007.6474d"]]},{"id":"aeb3d007.6474d","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"reverser","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1540,"wires":[[]]},{"id":"c1a4603e.61b65","type":"function","z":"9ebd82db.7cac3","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1460,"wires":[["7a827fb9.8e947"]]},{"id":"7a0a122a.c1213c","type":"function","z":"9ebd82db.7cac3","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1500,"wires":[["3ae628bc.0eb4b8"]]},{"id":"bf5ce20a.263ec","type":"link out","z":"9ebd82db.7cac3","name":"","links":["60177f4b.23c45"],"x":1055,"y":1700,"wires":[]},{"id":"60177f4b.23c45","type":"link in","z":"9ebd82db.7cac3","name":"","links":["bf5ce20a.263ec"],"x":175,"y":1900,"wires":[["8ac56b62.abb658"]]},{"id":"9b274289.3e39a","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"The train is moving","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1900,"wires":[["81e56c5a.d78f1"]]},{"id":"b64eaa9b.478718","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":840,"y":1540,"wires":[["8848a5bd.4ba678"]]},{"id":"e06fd39a.2bea5","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"speedLimit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1540,"wires":[[]]},{"id":"8848a5bd.4ba678","type":"function","z":"9ebd82db.7cac3","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1540,"wires":[["e06fd39a.2bea5"]]},{"id":"972489fe.707348","type":"ui_toast","z":"9ebd82db.7cac3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Door Left Closed","x":550,"y":2020,"wires":[]},{"id":"7761bad0.a3d044","type":"link out","z":"9ebd82db.7cac3","name":"","links":["37e586bd.08cdca"],"x":535,"y":1600,"wires":[]},{"id":"9d6062fa.ace37","type":"link out","z":"9ebd82db.7cac3","name":"","links":["2f23841e.6d0bdc"],"x":795,"y":1600,"wires":[]},{"id":"8dab5acf.c84428","type":"link out","z":"9ebd82db.7cac3","name":"","links":["10f08211.5c292e"],"x":515,"y":1840,"wires":[]},{"id":"ecb211f9.0591","type":"link out","z":"9ebd82db.7cac3","name":"","links":["525feadb.c78684"],"x":815,"y":1840,"wires":[]},{"id":"9c9a8ffb.6b4e6","type":"ui_toast","z":"9ebd82db.7cac3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Door Right Closed","x":550,"y":2060,"wires":[]},{"id":"7fcdee20.4ac26","type":"ui_toast","z":"9ebd82db.7cac3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Brake Neutral","x":540,"y":2100,"wires":[]},{"id":"160805eb.a8236a","type":"ui_toast","z":"9ebd82db.7cac3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Power Set","x":530,"y":2140,"wires":[]},{"id":"37e586bd.08cdca","type":"link in","z":"9ebd82db.7cac3","name":"","links":["7761bad0.a3d044"],"x":175,"y":2020,"wires":[["d2d62921.1feb28"]]},{"id":"2f23841e.6d0bdc","type":"link in","z":"9ebd82db.7cac3","name":"","links":["9d6062fa.ace37"],"x":175,"y":2060,"wires":[["6d52b7dc.4915e8"]]},{"id":"10f08211.5c292e","type":"link in","z":"9ebd82db.7cac3","name":"","links":["8dab5acf.c84428"],"x":175,"y":2100,"wires":[["615b4bbe.5db9e4"]]},{"id":"525feadb.c78684","type":"link in","z":"9ebd82db.7cac3","name":"","links":["ecb211f9.0591"],"x":175,"y":2140,"wires":[["b922736a.9defb"]]},{"id":"d2d62921.1feb28","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door Left Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2020,"wires":[["972489fe.707348"]]},{"id":"6d52b7dc.4915e8","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door Right Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2060,"wires":[["9c9a8ffb.6b4e6"]]},{"id":"615b4bbe.5db9e4","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brake Neutral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2100,"wires":[["7fcdee20.4ac26"]]},{"id":"b922736a.9defb","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Power Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2140,"wires":[["160805eb.a8236a"]]},{"id":"ea9b6865.d9ddd8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/brakeIncrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1300,"y":2200,"wires":[]},{"id":"4cb6103e.d18f9","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1300,"y":2280,"wires":[]},{"id":"fd0120b6.5b16b","type":"comment","z":"9ebd82db.7cac3","name":"Speed Control","info":"","x":180,"y":2220,"wires":[]},{"id":"850a3e69.f5a1c","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":250,"y":2260,"wires":[["726ce482.5a457c"]]},{"id":"231e8b58.6b4f84","type":"switch","z":"9ebd82db.7cac3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"speedLimit","vt":"flow"},{"t":"lt","v":"speedLimit","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":2260,"wires":[["149131ac.ddf6de"],["252b5f21.69a57"]]},{"id":"11942fa4.30f93","type":"function","z":"9ebd82db.7cac3","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":2260,"wires":[["231e8b58.6b4f84"]]},{"id":"726ce482.5a457c","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":2260,"wires":[["5e7d9b38.ac6e04"]]},{"id":"c700894a.29e688","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":1620,"wires":[["6b0333f1.eab28c"]]},{"id":"252b5f21.69a57","type":"switch","z":"9ebd82db.7cac3","name":"","property":"brake","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2300,"wires":[["4cb6103e.d18f9"],["d6e9be4c.a0914"]]},{"id":"e4434a0c.ed97a8","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/powerDown","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1290,"y":2240,"wires":[]},{"id":"149131ac.ddf6de","type":"switch","z":"9ebd82db.7cac3","name":"","property":"brake","propertyType":"flow","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2220,"wires":[["ea9b6865.d9ddd8"],["e4434a0c.ed97a8"]]},{"id":"d6e9be4c.a0914","type":"mqtt out","z":"9ebd82db.7cac3","name":"","topic":"its/train/actuators/powerUp","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1280,"y":2320,"wires":[]},{"id":"5e7d9b38.ac6e04","type":"switch","z":"9ebd82db.7cac3","name":"Speed Control Activated","property":"speedControl","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":2260,"wires":[["11942fa4.30f93"]]},{"id":"bd28506b.bb3a3","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"speedControl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2320,"wires":[[]]},{"id":"185a01f7.071c3e","type":"ui_switch","z":"9ebd82db.7cac3","name":"","label":"Speed Control","tooltip":"","group":"6f6b8146.5336f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":2320,"wires":[["bd28506b.bb3a3"]]},{"id":"540301e3.8e028","type":"comment","z":"9ebd82db.7cac3","name":"Automated Train","info":"","x":200,"y":1380,"wires":[]},{"id":"1920b4ab.da044b","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":920,"y":800,"wires":[["8bab3826.1a90d8"]]},{"id":"39df62ea.c002fe","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":900,"y":840,"wires":[["f136e56f.d5d3e8"]]},{"id":"9c15c57a.37f0c8","type":"mqtt in","z":"9ebd82db.7cac3","name":"","topic":"its/train/sensors/behaviouralDrift","qos":"2","datatype":"auto","broker":"9d18d318.2d7c4","x":930,"y":960,"wires":[["540611d0.2246d"]]},{"id":"2fa8ab15.9513d4","type":"comment","z":"9ebd82db.7cac3","name":"Drift","info":"","x":830,"y":920,"wires":[]},{"id":"540611d0.2246d","type":"ui_chart","z":"9ebd82db.7cac3","name":"","group":"d03db943.fdeb28","order":3,"width":0,"height":0,"label":"Behavioural Drift","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1180,"y":960,"wires":[[]]},{"id":"cd7e7b6d.d47a68","type":"comment","z":"9ebd82db.7cac3","name":"Speed","info":"","x":830,"y":760,"wires":[]},{"id":"8bab3826.1a90d8","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1130,"y":800,"wires":[["984e29c6.0f45c8"]]},{"id":"f136e56f.d5d3e8","type":"delay","z":"9ebd82db.7cac3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1130,"y":840,"wires":[["984e29c6.0f45c8"]]},{"id":"984e29c6.0f45c8","type":"ui_chart","z":"9ebd82db.7cac3","name":"","group":"d03db943.fdeb28","order":1,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1270,"y":820,"wires":[[]]},{"id":"a5b4fd99.f2565","type":"mqtt out","z":"326374d8.bdfc0c","name":"its/train/emergencyStop","topic":"its/train/emergencyStop","qos":"","retain":"","broker":"7c850f23.9615d","x":530,"y":240,"wires":[]},{"id":"8cf2fb62.8370d8","type":"mqtt out","z":"326374d8.bdfc0c","name":"its/train/doorsRight","topic":"its/train/doorsRight","qos":"","retain":"","broker":"8d51d370.1d48c","x":850,"y":400,"wires":[]},{"id":"f4dce7bb.410e98","type":"mqtt out","z":"326374d8.bdfc0c","name":"its/train/emergencyCall","topic":"its/train/emergencyCall","qos":"","retain":"","broker":"8d51d370.1d48c","x":560,"y":120,"wires":[]},{"id":"37fafb99.314f54","type":"ui_button","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":5,"width":"0","height":"0","passthru":false,"label":"Stop Train ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":210,"y":240,"wires":[["a5b4fd99.f2565"]]},{"id":"633cfeb8.467e7","type":"comment","z":"bf4f4e27.648d4","name":"call train","info":"","x":120,"y":1080,"wires":[]},{"id":"de705d15.8e742","type":"comment","z":"bf4f4e27.648d4","name":"stop train","info":"","x":120,"y":1000,"wires":[]},{"id":"6de295a1.eeee8c","type":"comment","z":"bf4f4e27.648d4","name":"Right and Left Door Train check Close","info":"","x":830,"y":1440,"wires":[]},{"id":"f304c081.399f","type":"mqtt out","z":"bf4f4e27.648d4","name":"","topic":"train/call","qos":"","retain":"","broker":"b67d7ac9.0cbc78","x":760,"y":1140,"wires":[]},{"id":"ec0fa0e5.e7657","type":"ui_text","z":"bf4f4e27.648d4","group":"e76d1b5b.297bc8","order":1,"width":0,"height":0,"name":"","label":"AVG Acceleration :","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":40,"wires":[]},{"id":"3a8063a.432bb9c","type":"ui_text","z":"bf4f4e27.648d4","group":"e76d1b5b.297bc8","order":2,"width":0,"height":0,"name":"","label":"Current Speed  :","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":100,"wires":[]},{"id":"4dad0144.c7f39","type":"ui_text","z":"bf4f4e27.648d4","group":"e76d1b5b.297bc8","order":3,"width":0,"height":0,"name":"","label":"Limit Speed :","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":240,"wires":[]},{"id":"2d5722c7.76ae2e","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"speedLimit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[[]]},{"id":"5b931877.7683e8","type":"function","z":"bf4f4e27.648d4","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":200,"wires":[["2d5722c7.76ae2e"]]},{"id":"15bf1ac7.e076e5","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"e76d1b5b.297bc8","order":7,"width":0,"height":0,"passthru":true,"label":"Emergency Call","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360,"y":1140,"wires":[["f304c081.399f"]]},{"id":"18e4feae.78d111","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"e76d1b5b.297bc8","order":8,"width":0,"height":0,"passthru":true,"label":"Stop Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":1040,"wires":[["a0ffd01a.73ee2"]]},{"id":"94788d32.b2675","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[[]]},{"id":"41b76d9b.14f964","type":"link out","z":"bf4f4e27.648d4","name":"","links":["d3d276aa.5baa68","3c2b4ece.e36762"],"x":635,"y":60,"wires":[]},{"id":"1a93c79f.9e07b8","type":"switch","z":"bf4f4e27.648d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"speedLimit","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":60,"wires":[["41b76d9b.14f964"],[]]},{"id":"3c2b4ece.e36762","type":"link in","z":"bf4f4e27.648d4","name":"","links":["41b76d9b.14f964"],"x":75,"y":1140,"wires":[["15bf1ac7.e076e5"]]},{"id":"f83937bd.0b2238","type":"switch","z":"bf4f4e27.648d4","name":"check Speed Limit","property":"currentSpeed","propertyType":"flow","rules":[{"t":"gte","v":"speedLimit","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":571,"y":1220,"wires":[["efccbcb8.05fc2","91e647b0.f77958"],["88cb24d9.b5ab48","209cbf5.449144"]]},{"id":"ee53c854.955258","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"train/call","qos":"2","datatype":"auto","broker":"b67d7ac9.0cbc78","x":120,"y":1220,"wires":[["4c66dd9f.1e6c84","1b3d14ba.61fc2b"]]},{"id":"5a65ca98.c41724","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"currentSpeed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[[]]},{"id":"efccbcb8.05fc2","type":"link out","z":"bf4f4e27.648d4","name":"","links":["b98d17d.58629e8"],"x":795,"y":1220,"wires":[]},{"id":"b98d17d.58629e8","type":"link in","z":"bf4f4e27.648d4","name":"","links":["efccbcb8.05fc2"],"x":75,"y":1040,"wires":[["18e4feae.78d111"]]},{"id":"88cb24d9.b5ab48","type":"delay","z":"bf4f4e27.648d4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":1280,"wires":[["f83937bd.0b2238"]]},{"id":"4c66dd9f.1e6c84","type":"delay","z":"bf4f4e27.648d4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1220,"wires":[["f83937bd.0b2238"]]},{"id":"8956129c.6dbd2","type":"function","z":"bf4f4e27.648d4","name":"split string","func":"var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":700,"wires":[["d447e023.1a535"]]},{"id":"d447e023.1a535","type":"function","z":"bf4f4e27.648d4","name":"distance number function ","func":"var m_out=[]; //array for message objects\nvar message=msg.payload;\n\nfor (var w in message) {\n    m_out.push({payload:message[w]});\n}\nreturn[m_out];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":700,"wires":[["c381a53d.5d70c8"]]},{"id":"c381a53d.5d70c8","type":"function","z":"bf4f4e27.648d4","name":"distance number ","func":"msg.payload = msg.payload.toString().match(/\\d/g).join(\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":760,"wires":[["f1677dcd.50fe8","ddcbaf0f.3893"]]},{"id":"f1677dcd.50fe8","type":"join","z":"bf4f4e27.648d4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":350,"y":800,"wires":[[]]},{"id":"c6ab4be8.d46958","type":"switch","z":"bf4f4e27.648d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"-100","vt":"str","v2":"100","v2t":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":760,"wires":[["aa6c2322.5521d","1ed17984.55cc36"],["1de6d035.e3ac1","86c00eb5.b263d"]]},{"id":"9799c141.143fa","type":"debug","z":"bf4f4e27.648d4","name":"true","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]},{"id":"ad0a39f8.c42d98","type":"debug","z":"bf4f4e27.648d4","name":"false","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":840,"wires":[]},{"id":"aa6c2322.5521d","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":740,"wires":[["b4c6d3b.1aba63"]]},{"id":"1de6d035.e3ac1","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":780,"wires":[["a9536352.8b4c5"]]},{"id":"c28d88ea.4bb2e8","type":"link in","z":"bf4f4e27.648d4","name":"","links":["86c00eb5.b263d"],"x":95,"y":1880,"wires":[["e6e8944a.3f1448","683bb713.969078"]]},{"id":"1ed17984.55cc36","type":"link out","z":"bf4f4e27.648d4","name":"","links":["529fd809.a270f8"],"x":955,"y":760,"wires":[]},{"id":"86c00eb5.b263d","type":"link out","z":"bf4f4e27.648d4","name":"","links":["c28d88ea.4bb2e8"],"x":915,"y":780,"wires":[]},{"id":"8689223d.a9a92","type":"debug","z":"bf4f4e27.648d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":880,"wires":[]},{"id":"a9536352.8b4c5","type":"rbe","z":"bf4f4e27.648d4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":750,"y":820,"wires":[["ad0a39f8.c42d98"]]},{"id":"3f0c4622.6d14ca","type":"rbe","z":"bf4f4e27.648d4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":800,"wires":[["8689223d.a9a92"]]},{"id":"b4c6d3b.1aba63","type":"rbe","z":"bf4f4e27.648d4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":700,"wires":[["9799c141.143fa"]]},{"id":"b987e19d.93271","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[[]]},{"id":"9fab8365.f86ff","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":400,"wires":[[]]},{"id":"b70b6922.972668","type":"function","z":"bf4f4e27.648d4","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["b987e19d.93271"]]},{"id":"43f908d7.6ff4c8","type":"function","z":"bf4f4e27.648d4","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["9fab8365.f86ff"]]},{"id":"151c73c4.c7b43c","type":"comment","z":"bf4f4e27.648d4","name":"Right and Left Door Train check Open","info":"","x":330,"y":1440,"wires":[]},{"id":"529fd809.a270f8","type":"link in","z":"bf4f4e27.648d4","name":"","links":["1ed17984.55cc36"],"x":115,"y":1740,"wires":[["92172eef.709ad","6bf27a59.4e7904"]]},{"id":"1b3d14ba.61fc2b","type":"debug","z":"bf4f4e27.648d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":1280,"wires":[]},{"id":"91e647b0.f77958","type":"debug","z":"bf4f4e27.648d4","name":"check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1260,"wires":[]},{"id":"69ccbdc6.c58a44","type":"debug","z":"bf4f4e27.648d4","name":"check false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1300,"wires":[]},{"id":"209cbf5.449144","type":"rbe","z":"bf4f4e27.648d4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":1300,"wires":[["69ccbdc6.c58a44"]]},{"id":"301268b8.7e4458","type":"mqtt out","z":"bf4f4e27.648d4","name":"","topic":"its/train/emergencyCall","qos":"","retain":"","broker":"75d10a4a.0cb5c4","x":520,"y":560,"wires":[]},{"id":"ab4d4133.02a9a","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"0","datatype":"auto","broker":"75d10a4a.0cb5c4","x":150,"y":40,"wires":[["ec0fa0e5.e7657"]]},{"id":"8fa69c2a.6449b","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"75d10a4a.0cb5c4","x":140,"y":100,"wires":[["465accc6.1bac44"]]},{"id":"465accc6.1bac44","type":"delay","z":"bf4f4e27.648d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":100,"wires":[["1a93c79f.9e07b8","5a65ca98.c41724","3a8063a.432bb9c"]]},{"id":"b75d96fd.8be858","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"75d10a4a.0cb5c4","x":120,"y":200,"wires":[["a23b14a6.d63148"]]},{"id":"a23b14a6.d63148","type":"delay","z":"bf4f4e27.648d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":200,"wires":[["5b931877.7683e8","4dad0144.c7f39"]]},{"id":"4668cea6.d623f","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"58e46a3f.674144","x":120,"y":300,"wires":[["94788d32.b2675"]]},{"id":"3c07cfb1.6cc74","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"75d10a4a.0cb5c4","x":130,"y":360,"wires":[["b70b6922.972668"]]},{"id":"a4332fbd.13f3f","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"75d10a4a.0cb5c4","x":130,"y":400,"wires":[["43f908d7.6ff4c8"]]},{"id":"98157200.aba7","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"train/infos/distanceToNextStation","qos":"2","datatype":"auto","broker":"75d10a4a.0cb5c4","x":150,"y":640,"wires":[["35e08214.57a2ae"]]},{"id":"35e08214.57a2ae","type":"delay","z":"bf4f4e27.648d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":190,"y":700,"wires":[["8956129c.6dbd2"]]},{"id":"a0ffd01a.73ee2","type":"mqtt out","z":"bf4f4e27.648d4","name":"","topic":"its/train/emergencyStop","qos":"","retain":"","broker":"75d10a4a.0cb5c4","x":690,"y":1040,"wires":[]},{"id":"b4e33e44.436a9","type":"comment","z":"bf4f4e27.648d4","name":"Call Train","info":"","x":80,"y":520,"wires":[]},{"id":"906b8d09.5e675","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/doorsLeft","qos":"","retain":"","broker":"9d18d318.2d7c4","x":510,"y":40,"wires":[]},{"id":"c5f815c3.1b71b8","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/doorsRight","qos":"","retain":"","broker":"9d18d318.2d7c4","x":520,"y":240,"wires":[]},{"id":"8807a1bb.a01f7","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/currentSpeed","qos":"","retain":"","broker":"58e46a3f.674144","x":550,"y":420,"wires":[]},{"id":"346de8f3.f086b8","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/brake","qos":"","retain":"","broker":"58e46a3f.674144","x":540,"y":540,"wires":[]},{"id":"67869fb8.718ae","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/power","qos":"","retain":"","broker":"9d18d318.2d7c4","x":470,"y":740,"wires":[]},{"id":"a2dd95e2.cab8f8","type":"mqtt in","z":"c726f522.2db7f8","name":"train/infos/speedLimit","topic":"train/infos/speedLimit","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":200,"y":880,"wires":[["235aedcc.dfaf42"]]},{"id":"235aedcc.dfaf42","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/infos/speedLimit","qos":"","retain":"","broker":"9d18d318.2d7c4","x":670,"y":880,"wires":[]},{"id":"a06a9244.3aeab","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/currentAvgAcc","topic":"train/sensors/currentAvgAcc","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":220,"y":980,"wires":[["9e7a0c3a.f5e9f"]]},{"id":"9e7a0c3a.f5e9f","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"","retain":"","broker":"e67eed11.39426","x":690,"y":980,"wires":[]},{"id":"d5090dd6.5e0ff","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/reverser","topic":"train/sensors/reverser","qos":"2","datatype":"auto","broker":"9d18d318.2d7c4","x":200,"y":1100,"wires":[["ea3fa342.aecea"]]},{"id":"ea3fa342.aecea","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/reverser","qos":"","retain":"","broker":"9d18d318.2d7c4","x":660,"y":1100,"wires":[]},{"id":"ef2b03a0.4c3a2","type":"mqtt in","z":"c726f522.2db7f8","name":"train/sensors/behaviouralDrift","topic":"train/sensors/behaviouralDrift","qos":"2","datatype":"auto","broker":"9d18d318.2d7c4","x":220,"y":1240,"wires":[["aa6fa35f.4b927"]]},{"id":"aa6fa35f.4b927","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/sensors/behaviouralDrift","qos":"","retain":"","broker":"9d18d318.2d7c4","x":690,"y":1240,"wires":[]},{"id":"45125801.68a288","type":"mqtt in","z":"c726f522.2db7f8","name":"its/train/doorsRight","topic":"its/train/doorsRight","qos":"2","datatype":"auto","broker":"b6f8b744.b67208","x":130,"y":3780,"wires":[["699b972d.cf2da8"]]},{"id":"910a20fd.5e4df","type":"mqtt out","z":"c726f522.2db7f8","name":"","topic":"its/train/actuators/doorsRight","qos":"","retain":"","broker":"9d18d318.2d7c4","x":1080,"y":3820,"wires":[]},{"id":"3c276b55.1b6024","type":"comment","z":"c726f522.2db7f8","name":"Open Right Doors","info":"","x":110,"y":3700,"wires":[]},{"id":"44c8eaaf.9af4c4","type":"ui_button","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":2,"width":"0","height":"0","passthru":false,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":460,"wires":[["d209e561.62ed78"]]},{"id":"46924f16.92154","type":"mqtt out","z":"326374d8.bdfc0c","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"","retain":"","broker":"8d51d370.1d48c","x":890,"y":640,"wires":[]},{"id":"c707818a.f3429","type":"ui_button","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":3,"width":"0","height":"0","passthru":false,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":240,"y":580,"wires":[["dcd3c317.13f51"]]},{"id":"b849e476.caa1d8","type":"ui_button","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":4,"width":"0","height":"0","passthru":false,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":250,"y":700,"wires":[["59755add.74b5e4"]]},{"id":"92172eef.709ad","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"12c82f99.ebd97","order":3,"width":"0","height":"0","passthru":true,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":290,"y":1680,"wires":[["220ddb4a.72eee4"]]},{"id":"e6e8944a.3f1448","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"12c82f99.ebd97","order":4,"width":"0","height":"0","passthru":true,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":270,"y":1760,"wires":[["c4688b43.d76ae8"]]},{"id":"6bf27a59.4e7904","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"12c82f99.ebd97","order":5,"width":"0","height":"0","passthru":true,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":280,"y":1880,"wires":[["a6215b1f.e9ebe8"]]},{"id":"683bb713.969078","type":"ui_button","z":"bf4f4e27.648d4","name":"","group":"12c82f99.ebd97","order":6,"width":"0","height":"0","passthru":true,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":290,"y":2000,"wires":[["b3d055a0.cddc18"]]},{"id":"3480f467.87c89c","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"2ea4c399.bac9bc","order":1,"width":"0","height":"0","passthru":false,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":810,"y":180,"wires":[["3f1f832.6cdbf7c"]]},{"id":"cbedb90e.7cace8","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"2ea4c399.bac9bc","order":1,"width":"0","height":"0","passthru":false,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":810,"y":240,"wires":[["fc3f5924.3f8bf8"]]},{"id":"315ccbbd.b6b334","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"2ea4c399.bac9bc","order":1,"width":"0","height":"0","passthru":false,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":780,"y":300,"wires":[[]]},{"id":"79f98ebf.262f1","type":"ui_button","z":"9ebd82db.7cac3","name":"","group":"2ea4c399.bac9bc","order":1,"width":"0","height":"0","passthru":false,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":790,"y":360,"wires":[[]]},{"id":"1b7a38eb.d20c57","type":"ui_list","z":"9ebd82db.7cac3","group":"622b0d46.410b74","name":"","order":2,"width":"0","height":"0","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":550,"y":900,"wires":[]},{"id":"800b13c5.911e9","type":"ui_microphone","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":6,"width":0,"height":0,"maxLength":5,"timeslice":0,"press":"click","x":210,"y":120,"wires":[["f4dce7bb.410e98"]]},{"id":"da4bbe82.9b64a","type":"ui_microphone","z":"bf4f4e27.648d4","name":"Push And Talk","group":"e76d1b5b.297bc8","order":6,"width":"10","height":"1","maxLength":5,"timeslice":0,"press":"press","x":90,"y":560,"wires":[["301268b8.7e4458"]]},{"id":"ddcbaf0f.3893","type":"smooth","z":"bf4f4e27.648d4","name":"","property":"payload","action":"min","count":"6","round":"","mult":"single","reduce":false,"x":380,"y":760,"wires":[["3f0c4622.6d14ca","c6ab4be8.d46958"]]},{"id":"3cb60e77.2f8202","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":250,"y":1560,"wires":[["76fea82d.950f68"]]},{"id":"5cce917c.09b2d","type":"mqtt in","z":"bf4f4e27.648d4","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"9d18d318.2d7c4","x":250,"y":1600,"wires":[["253d6a1e.f54f26"]]},{"id":"76fea82d.950f68","type":"ui_text","z":"bf4f4e27.648d4","group":"12c82f99.ebd97","order":2,"width":0,"height":0,"name":"","label":"Door left :","format":"{{msg.payload}}","layout":"row-left","x":500,"y":1540,"wires":[]},{"id":"253d6a1e.f54f26","type":"ui_text","z":"bf4f4e27.648d4","group":"12c82f99.ebd97","order":1,"width":0,"height":0,"name":"","label":"Door Right :","format":"{{msg.payload}}","layout":"row-left","x":510,"y":1600,"wires":[]},{"id":"c92f7136.10066","type":"comment","z":"bf4f4e27.648d4","name":"Doors","info":"","x":210,"y":1520,"wires":[]},{"id":"1aa7bed1.2bade1","type":"change","z":"c726f522.2db7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"close\", \"base\"]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":4400,"wires":[["fde3e84b.1dff98"]]},{"id":"59241de7.cec0b4","type":"inject","z":"c726f522.2db7f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":4380,"wires":[["1aa7bed1.2bade1"]]},{"id":"fde3e84b.1dff98","type":"debug","z":"c726f522.2db7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4400,"wires":[]},{"id":"3c146dda.272fe2","type":"switch","z":"c726f522.2db7f8","name":"command check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":3360,"wires":[["5dfb291a.17d338"],["234e828d.49044e"]]},{"id":"8aec330e.a90fd","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":3560,"wires":[["234e828d.49044e"]]},{"id":"c29db474.fcbf48","type":"switch","z":"c726f522.2db7f8","name":"door right check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Opened","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":3720,"wires":[["910a20fd.5e4df","286c0aa9.a20136"],["5495a380.27bdcc"]]},{"id":"5495a380.27bdcc","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":3620,"wires":[["c29db474.fcbf48"]]},{"id":"f988c0c8.77dd5","type":"delay","z":"c726f522.2db7f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":3980,"wires":[["cb50dc2d.ab825"]]},{"id":"5e87f0e.b59621","type":"switch","z":"c726f522.2db7f8","name":"command check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":3780,"wires":[["c29db474.fcbf48"],["cb50dc2d.ab825"]]},{"id":"1f08ced2.0d6711","type":"change","z":"326374d8.bdfc0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passenger,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["8cf2fb62.8370d8"]]},{"id":"d209e561.62ed78","type":"change","z":"326374d8.bdfc0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passenger,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["8cf2fb62.8370d8"]]},{"id":"f12c4ef.6ab56b","type":"ui_button","z":"326374d8.bdfc0c","name":"","group":"2e84bfbf.71b1b","order":1,"width":"0","height":"0","passthru":false,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":340,"wires":[["1f08ced2.0d6711"]]},{"id":"6c55c6f2.eaf1a8","type":"function","z":"c726f522.2db7f8","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3360,"wires":[["3c146dda.272fe2"]]},{"id":"699b972d.cf2da8","type":"function","z":"c726f522.2db7f8","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3780,"wires":[["5e87f0e.b59621"]]},{"id":"cb50dc2d.ab825","type":"switch","z":"c726f522.2db7f8","name":"door right check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":3860,"wires":[["910a20fd.5e4df","c58fb1ee.d0913"],["f988c0c8.77dd5"]]},{"id":"dcd3c317.13f51","type":"change","z":"326374d8.bdfc0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passenger,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":580,"wires":[["46924f16.92154"]]},{"id":"59755add.74b5e4","type":"change","z":"326374d8.bdfc0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passenger,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":700,"wires":[["46924f16.92154"]]},{"id":"5dfb291a.17d338","type":"switch","z":"c726f522.2db7f8","name":"door left check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":3320,"wires":[["a378612e.cd27c"],["5a9cf13d.30f4b"]]},{"id":"234e828d.49044e","type":"switch","z":"c726f522.2db7f8","name":"door left check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":3440,"wires":[["5a9cf13d.30f4b"],["8aec330e.a90fd"]]},{"id":"220ddb4a.72eee4","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"base,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1680,"wires":[["bcb27dc.503e78"]]},{"id":"c4688b43.d76ae8","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"base,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1780,"wires":[["bcb27dc.503e78"]]},{"id":"bcb27dc.503e78","type":"mqtt out","z":"bf4f4e27.648d4","name":"its/train/doorsRight","topic":"its/train/doorsRight","qos":"","retain":"","broker":"8d51d370.1d48c","x":890,"y":1740,"wires":[]},{"id":"a6215b1f.e9ebe8","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"base,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1880,"wires":[["5a7f449f.c2029c"]]},{"id":"b3d055a0.cddc18","type":"change","z":"bf4f4e27.648d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"base,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2000,"wires":[["5a7f449f.c2029c"]]},{"id":"5a7f449f.c2029c","type":"mqtt out","z":"bf4f4e27.648d4","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"","retain":"","broker":"8d51d370.1d48c","x":910,"y":1940,"wires":[]},{"id":"bdf0a4ed.951818","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dashboard,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[["43a22008.f5256"]]},{"id":"fa4ec4c3.854ae8","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dashboard,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":360,"wires":[["43a22008.f5256"]]},{"id":"43a22008.f5256","type":"mqtt out","z":"9ebd82db.7cac3","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"","retain":"","broker":"8d51d370.1d48c","x":1270,"y":320,"wires":[]},{"id":"3f1f832.6cdbf7c","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dashboard,open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["65c45f4.1eda2a"]]},{"id":"fc3f5924.3f8bf8","type":"change","z":"9ebd82db.7cac3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dashboard,close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":240,"wires":[["65c45f4.1eda2a"]]},{"id":"65c45f4.1eda2a","type":"mqtt out","z":"9ebd82db.7cac3","name":"its/train/doorsRight","topic":"its/train/doorsRight","qos":"","retain":"","broker":"8d51d370.1d48c","x":1270,"y":200,"wires":[]},{"id":"286c0aa9.a20136","type":"debug","z":"c726f522.2db7f8","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":3700,"wires":[]},{"id":"c58fb1ee.d0913","type":"debug","z":"c726f522.2db7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":3920,"wires":[]},{"id":"ec117c1b.206e6","type":"switch","z":"c726f522.2db7f8","name":"","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1500,"wires":[["e46d6432.e34248"]]},{"id":"bb2bec84.42cd9","type":"switch","z":"c726f522.2db7f8","name":"","property":"trainSpeed","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":1620,"wires":[["f5846527.e34fb8"]]}]