ITS_Application_Node-red_Flows.json
[{"id":"d76e464b.066798","type":"tab","label":"Base","disabled":false,"info":""},{"id":"9605357e.974fc8","type":"tab","label":"voyageur","disabled":false,"info":""},{"id":"f54e9c0c.924aa","type":"tab","label":"Intelligent Transport System","disabled":false,"info":""},{"id":"65081c49.6197b4","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"361f3503.6ea6da","type":"tab","label":"Sound 1","disabled":false,"info":""},{"id":"ebcf5835.feb498","type":"tab","label":"Sound 2","disabled":false,"info":""},{"id":"adc3f86e.c10318","type":"tab","label":"Sound Demo","disabled":false,"info":""},{"id":"f124988a.ae02a8","type":"mqtt-broker","name":"LocalBroker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97a80e10.45e49","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Train Simulation","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d65c275a.a6f758","type":"ui_group","name":"Train info and Emergency Stop/Call","tab":"86cba66.ec0df58","order":1,"disp":true,"width":"10","collapse":false},{"id":"86cba66.ec0df58","type":"ui_tab","name":"Base Station Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"98bcf88d.7f5858","type":"ui_group","name":"Doors","tab":"86cba66.ec0df58","order":2,"disp":true,"width":"10","collapse":false},{"id":"69598bf3.a9a914","type":"ui_group","name":"Call Train","tab":"1457c5bb.51251a","order":1,"disp":true,"width":"6","collapse":false},{"id":"a03c94a4.1301c8","type":"ui_group","name":"Emergency","tab":"1457c5bb.51251a","order":2,"disp":true,"width":"6","collapse":false},{"id":"1457c5bb.51251a","type":"ui_tab","name":"Voyageur","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa0b3c3e.f61bd","type":"ui_group","name":"Speed","tab":"5300de3c.e74c7","order":4,"disp":true,"width":"6","collapse":false},{"id":"f5f0c1fd.c8d1","type":"ui_group","name":"Doors","tab":"5300de3c.e74c7","order":3,"disp":true,"width":"6","collapse":false},{"id":"dd9691a4.fd40b","type":"ui_group","name":"Stations","tab":"5300de3c.e74c7","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b02ca67.ae19a6","type":"ui_group","name":"Infos","tab":"5300de3c.e74c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"300727ed.f63798","type":"ui_group","name":"Power","tab":"5300de3c.e74c7","order":5,"disp":true,"width":"6","collapse":false},{"id":"59020ce4.b6e7b4","type":"ui_group","name":"Brake","tab":"5300de3c.e74c7","order":6,"disp":true,"width":"6","collapse":false},{"id":"141fd2fb.217aed","type":"ui_group","name":"Drift","tab":"466d0803.9de1a8","order":6,"disp":true,"width":"6","collapse":false},{"id":"5300de3c.e74c7","type":"ui_tab","name":"Our train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"466d0803.9de1a8","type":"ui_tab","name":"Our train Drift","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2fdb0c7e.877eb4","type":"ui_tab","name":"Train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5dcb4971.e16ed8","type":"ui_tab","name":"Train Drift","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"183d68f9.d22477","type":"ui_tab","name":"Indra","icon":"dashboard","disabled":false,"hidden":false},{"id":"d42dc7ea.dda318","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"98ca628d.bc359","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"7934d46c.2d79dc","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"e92b5df.ca54fa","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"e610f123.87459","type":"ui_spacer","name":"spacer","group":"30b1ef4d.8ffc7","order":8,"width":1,"height":1},{"id":"81c1a26a.8dfaf","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"d030af10.3509d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"36c63070.da2bb","type":"ui_tab","name":"Train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"70ede0e.c81442","type":"ui_tab","name":"Train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"705f6e30.0edee","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4aec7ef7.9a29f","type":"ui_tab","name":"TV remote control","icon":"dashboard","order":45,"disabled":false,"hidden":false},{"id":"b1677cc7.c74a8","type":"ui_tab","name":"Logging","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c45765f6.cc6c38","type":"ui_tab","name":"Arbeitszimmer","icon":"book","order":1},{"id":"7bb77421.2660ac","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ac6a7e9.fb1b08","type":"ui_tab","name":"Chauffeur","icon":"dashboard","disabled":false,"hidden":false},{"id":"267727e6.bd4f48","type":"ui_tab","name":"Our train Infos","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"76adf63b.9ea738","type":"ui_tab","name":"Our train Drift","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"72e2766b.58af38","type":"mqtt out","z":"d76e464b.066798","name":"","topic":"train/call","qos":"","broker":"f124988a.ae02a8","x":785,"y":1200,"wires":[]},{"id":"241a5f6c.329c6","type":"ui_text","z":"d76e464b.066798","group":"d65c275a.a6f758","order":1,"width":0,"height":0,"name":"","label":"AVG Acceleration :","format":"{{msg.payload}}","layout":"row-spread","x":415,"y":100,"wires":[]},{"id":"d60f4702.187b98","type":"ui_text","z":"d76e464b.066798","group":"d65c275a.a6f758","order":2,"width":0,"height":0,"name":"","label":"Current Speed  :","format":"{{msg.payload}}","layout":"row-spread","x":585,"y":160,"wires":[]},{"id":"919c82c7.822aa","type":"ui_text","z":"d76e464b.066798","group":"d65c275a.a6f758","order":3,"width":0,"height":0,"name":"","label":"Limit Speed :","format":"{{msg.payload}}","layout":"row-spread","x":535,"y":300,"wires":[]},{"id":"608f1a4e.d969a4","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"speedLimit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":260,"wires":[[]]},{"id":"bd561a98.ce9ee8","type":"function","z":"d76e464b.066798","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":525,"y":260,"wires":[["608f1a4e.d969a4"]]},{"id":"a678eef7.9c88d","type":"ui_button","z":"d76e464b.066798","name":"","group":"d65c275a.a6f758","order":7,"width":0,"height":0,"passthru":true,"label":"Emergency Call","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":385,"y":1200,"wires":[["72e2766b.58af38"]]},{"id":"8bbea28.216bf6","type":"ui_button","z":"d76e464b.066798","name":"","group":"d65c275a.a6f758","order":8,"width":0,"height":0,"passthru":true,"label":"Stop Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":335,"y":1100,"wires":[["4407ed1d.85add4"]]},{"id":"228f9119.76f5be","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385,"y":360,"wires":[[]]},{"id":"277f861b.7050da","type":"link out","z":"d76e464b.066798","name":"","links":["d3d276aa.5baa68","e7d100d0.3893b"],"x":660,"y":120,"wires":[]},{"id":"a8bef35a.f50e6","type":"switch","z":"d76e464b.066798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"speedLimit","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":575,"y":120,"wires":[["277f861b.7050da"],[]]},{"id":"e7d100d0.3893b","type":"link in","z":"d76e464b.066798","name":"","links":["277f861b.7050da"],"x":100,"y":1200,"wires":[["a678eef7.9c88d"]]},{"id":"adac61c5.d9bf2","type":"switch","z":"d76e464b.066798","name":"check Speed Limit","property":"currentSpeed","propertyType":"flow","rules":[{"t":"gte","v":"speedLimit","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":596,"y":1280,"wires":[["9da16dc5.38245"],["cc4ec555.f0b318","d83ee32f.9afe5"]]},{"id":"960ccfb9.4d0aa","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"train/call","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":145,"y":1280,"wires":[["5d0fbcdf.0064b4","8c3d0502.f1e908"]]},{"id":"2f74762a.7a16ca","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"currentSpeed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":200,"wires":[[]]},{"id":"98ffac43.75931","type":"link out","z":"d76e464b.066798","name":"","links":["fe6fda93.ca4658"],"x":820,"y":1280,"wires":[]},{"id":"fe6fda93.ca4658","type":"link in","z":"d76e464b.066798","name":"","links":["98ffac43.75931"],"x":100,"y":1100,"wires":[[]]},{"id":"cc4ec555.f0b318","type":"delay","z":"d76e464b.066798","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":595,"y":1360,"wires":[["adac61c5.d9bf2"]]},{"id":"5d0fbcdf.0064b4","type":"delay","z":"d76e464b.066798","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":325,"y":1280,"wires":[["adac61c5.d9bf2"]]},{"id":"2164f361.2a1fbc","type":"function","z":"d76e464b.066798","name":"split string","func":"var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":385,"y":760,"wires":[["c691b776.2efc28"]]},{"id":"c691b776.2efc28","type":"function","z":"d76e464b.066798","name":"distance number function ","func":"var m_out=[]; //array for message objects\nvar message=msg.payload;\n\nfor (var w in message) {\n    m_out.push({payload:message[w]});\n}\nreturn[m_out];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":575,"y":760,"wires":[["fae2f23a.34a8d"]]},{"id":"fae2f23a.34a8d","type":"function","z":"d76e464b.066798","name":"distance number ","func":"msg.payload = msg.payload.toString().match(/\\d/g).join(\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":820,"wires":[["2b03942f.b69b2c","6598fc6c.ad98d4"]]},{"id":"2b03942f.b69b2c","type":"join","z":"d76e464b.066798","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":375,"y":860,"wires":[[]]},{"id":"743b4d4c.404bf4","type":"switch","z":"d76e464b.066798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"-100","vt":"str","v2":"100","v2t":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":555,"y":820,"wires":[["c231bb9d.d694f8","7ee7b58a.bc945c"],["29f6c8af.7fb2d8","591d896c.948b68"]]},{"id":"b06e4611.d290f8","type":"debug","z":"d76e464b.066798","name":"true","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":935,"y":780,"wires":[]},{"id":"bc939885.48a9d8","type":"debug","z":"d76e464b.066798","name":"false","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":935,"y":900,"wires":[]},{"id":"c231bb9d.d694f8","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":800,"wires":[["dd36b063.ada7b"]]},{"id":"29f6c8af.7fb2d8","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":840,"wires":[["381daa7e.1e8fa6"]]},{"id":"7ee7b58a.bc945c","type":"link out","z":"d76e464b.066798","name":"","links":["f3f6b5e6.6cbd38"],"x":980,"y":820,"wires":[]},{"id":"591d896c.948b68","type":"link out","z":"d76e464b.066798","name":"","links":["920c9ef4.0523b"],"x":940,"y":840,"wires":[]},{"id":"5fab76f1.430878","type":"debug","z":"d76e464b.066798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":795,"y":940,"wires":[]},{"id":"381daa7e.1e8fa6","type":"rbe","z":"d76e464b.066798","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":775,"y":880,"wires":[["bc939885.48a9d8"]]},{"id":"d4ee0366.dcea7","type":"rbe","z":"d76e464b.066798","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":555,"y":860,"wires":[["5fab76f1.430878"]]},{"id":"dd36b063.ada7b","type":"rbe","z":"d76e464b.066798","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":795,"y":760,"wires":[["b06e4611.d290f8"]]},{"id":"a0185553.e1acb8","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":420,"wires":[[]]},{"id":"df353f44.58945","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":460,"wires":[[]]},{"id":"a94819ad.215018","type":"function","z":"d76e464b.066798","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":420,"wires":[["a0185553.e1acb8"]]},{"id":"fe324910.a07788","type":"function","z":"d76e464b.066798","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":460,"wires":[["df353f44.58945"]]},{"id":"8c3d0502.f1e908","type":"debug","z":"d76e464b.066798","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":375,"y":1340,"wires":[]},{"id":"9da16dc5.38245","type":"debug","z":"d76e464b.066798","name":"check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":875,"y":1320,"wires":[]},{"id":"d2263787.a28918","type":"debug","z":"d76e464b.066798","name":"check false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":935,"y":1360,"wires":[]},{"id":"d83ee32f.9afe5","type":"rbe","z":"d76e464b.066798","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":795,"y":1360,"wires":[["d2263787.a28918"]]},{"id":"2472e05d.aff0b","type":"mqtt out","z":"d76e464b.066798","name":"","topic":"its/train/emergencyCall","qos":"","broker":"f124988a.ae02a8","x":940,"y":620,"wires":[]},{"id":"6dc25923.ae8698","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":175,"y":100,"wires":[["241a5f6c.329c6"]]},{"id":"43a0ec14.dd4264","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":165,"y":160,"wires":[["df76efe2.4924f"]]},{"id":"df76efe2.4924f","type":"delay","z":"d76e464b.066798","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":375,"y":160,"wires":[["a8bef35a.f50e6","2f74762a.7a16ca","d60f4702.187b98"]]},{"id":"c7d246b6.4043e8","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":145,"y":260,"wires":[["6cfca6e9.430b08"]]},{"id":"6cfca6e9.430b08","type":"delay","z":"d76e464b.066798","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":335,"y":260,"wires":[["bd561a98.ce9ee8","919c82c7.822aa"]]},{"id":"16979d7c.5bb9b3","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":145,"y":360,"wires":[["228f9119.76f5be"]]},{"id":"3bfef683.efe14a","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":155,"y":420,"wires":[["a94819ad.215018"]]},{"id":"e3f26b9d.523b48","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":155,"y":460,"wires":[["fe324910.a07788"]]},{"id":"9d5b528b.11ec","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"train/infos/distanceToNextStation","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":175,"y":700,"wires":[["57380053.cad46"]]},{"id":"57380053.cad46","type":"delay","z":"d76e464b.066798","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":215,"y":760,"wires":[["2164f361.2a1fbc"]]},{"id":"4407ed1d.85add4","type":"mqtt out","z":"d76e464b.066798","name":"","topic":"its/train/emergencyStop","qos":"","broker":"f124988a.ae02a8","x":715,"y":1100,"wires":[]},{"id":"43bd27dc.b91328","type":"ui_button","z":"d76e464b.066798","name":"","group":"98bcf88d.7f5858","order":3,"width":"0","height":"0","passthru":true,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":315,"y":1740,"wires":[["eae94434.ce6888"]]},{"id":"9c83ea6b.585568","type":"ui_button","z":"d76e464b.066798","name":"","group":"98bcf88d.7f5858","order":4,"width":"0","height":"0","passthru":true,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":295,"y":1820,"wires":[["962d2d61.58e65"]]},{"id":"1280199c.6af706","type":"ui_button","z":"d76e464b.066798","name":"","group":"98bcf88d.7f5858","order":5,"width":"0","height":"0","passthru":true,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":305,"y":1940,"wires":[["ddcad500.6e38b8"]]},{"id":"6d5c9dc7.50f5c4","type":"ui_button","z":"d76e464b.066798","name":"","group":"98bcf88d.7f5858","order":6,"width":"0","height":"0","passthru":true,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":315,"y":2060,"wires":[["a5938567.8b84e8"]]},{"id":"3ecdd082.e4088","type":"ui_microphone","z":"d76e464b.066798","name":"Push And Talk","group":"d65c275a.a6f758","order":6,"width":"10","height":"1","maxLength":5,"maxRecogLength":"","timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":115,"y":620,"wires":[["fbea05a0.18fe68","956bfb75.4bbfd8"]]},{"id":"6598fc6c.ad98d4","type":"smooth","z":"d76e464b.066798","name":"","property":"payload","action":"min","count":"6","round":"","mult":"single","reduce":false,"x":405,"y":820,"wires":[["d4ee0366.dcea7","743b4d4c.404bf4"]]},{"id":"6b23ba61.8252b4","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":275,"y":1620,"wires":[["33adb39d.a2b25c"]]},{"id":"96e54731.2527a8","type":"mqtt in","z":"d76e464b.066798","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":275,"y":1660,"wires":[["3c066733.617bf8"]]},{"id":"33adb39d.a2b25c","type":"ui_text","z":"d76e464b.066798","group":"98bcf88d.7f5858","order":2,"width":0,"height":0,"name":"","label":"Door left :","format":"{{msg.payload}}","layout":"row-left","x":525,"y":1620,"wires":[]},{"id":"3c066733.617bf8","type":"ui_text","z":"d76e464b.066798","group":"98bcf88d.7f5858","order":1,"width":0,"height":0,"name":"","label":"Door Right :","format":"{{msg.payload}}","layout":"row-left","x":535,"y":1660,"wires":[]},{"id":"eae94434.ce6888","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1740,"wires":[["cbc1d76e.3f3f18"]]},{"id":"962d2d61.58e65","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1820,"wires":[["cbc1d76e.3f3f18"]]},{"id":"cbc1d76e.3f3f18","type":"mqtt out","z":"d76e464b.066798","name":"its/train/doorsRight","topic":"its/train/doorsRight","qos":"","broker":"f124988a.ae02a8","x":915,"y":1800,"wires":[]},{"id":"ddcad500.6e38b8","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":1940,"wires":[["b25dc994.56ee18"]]},{"id":"a5938567.8b84e8","type":"change","z":"d76e464b.066798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":2060,"wires":[["b25dc994.56ee18"]]},{"id":"b25dc994.56ee18","type":"mqtt out","z":"d76e464b.066798","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":935,"y":2000,"wires":[]},{"id":"a8632c00.3cbdc8","type":"ui_microphone","z":"9605357e.974fc8","name":"","group":"69598bf3.a9a914","order":0,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":110,"y":100,"wires":[["bc0b9c9c.6729b"]]},{"id":"1a6b46b0.6db949","type":"mqtt out","z":"9605357e.974fc8","name":"","topic":"its/train/emergencyCall","qos":"","broker":"f124988a.ae02a8","x":840,"y":100,"wires":[]},{"id":"b7f74a0c.470568","type":"ui_button","z":"9605357e.974fc8","name":"","group":"a03c94a4.1301c8","order":0,"width":0,"height":0,"passthru":true,"label":"Stop Train ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":110,"y":180,"wires":[["45eef106.8c961","d251ceff.c8d7a"]]},{"id":"d251ceff.c8d7a","type":"mqtt out","z":"9605357e.974fc8","name":"","topic":"its/train/emergencyStop","qos":"","broker":"f124988a.ae02a8","x":630,"y":180,"wires":[]},{"id":"8648a1c8.55e7","type":"ui_button","z":"9605357e.974fc8","name":"","group":"a03c94a4.1301c8","order":1,"width":0,"height":0,"passthru":false,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":320,"wires":[["63a02c80.69c934"]]},{"id":"da0e171c.5495f8","type":"ui_button","z":"9605357e.974fc8","name":"","group":"a03c94a4.1301c8","order":2,"width":0,"height":0,"passthru":false,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":400,"wires":[["73182f95.f9784"]]},{"id":"63a02c80.69c934","type":"change","z":"9605357e.974fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["34c95849.adde68"]]},{"id":"73182f95.f9784","type":"change","z":"9605357e.974fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["34c95849.adde68"]]},{"id":"34c95849.adde68","type":"mqtt out","z":"9605357e.974fc8","name":"","topic":"its/train/doorsRight","qos":"","broker":"f124988a.ae02a8","x":630,"y":360,"wires":[]},{"id":"3071eaf0.110bb6","type":"ui_button","z":"9605357e.974fc8","name":"","group":"a03c94a4.1301c8","order":3,"width":0,"height":0,"passthru":false,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":540,"wires":[["a0e20e4e.d811f"]]},{"id":"b7afdd66.772b4","type":"ui_button","z":"9605357e.974fc8","name":"","group":"a03c94a4.1301c8","order":4,"width":0,"height":0,"passthru":false,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":640,"wires":[["448fa9fd.553f68"]]},{"id":"a0e20e4e.d811f","type":"change","z":"9605357e.974fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["22b1042d.1a67dc"]]},{"id":"448fa9fd.553f68","type":"change","z":"9605357e.974fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["22b1042d.1a67dc"]]},{"id":"22b1042d.1a67dc","type":"mqtt out","z":"9605357e.974fc8","name":"","topic":"its/train/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":650,"y":580,"wires":[]},{"id":"99655cfc.9d63b","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":205,"y":220,"wires":[["dbe977b5.0169d8","4c3015da.08707c"]]},{"id":"b950352d.b052d8","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":215,"y":160,"wires":[["6e7bcee3.b48c5"]]},{"id":"b4f4b329.cea0e","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/powerUp","qos":"","broker":"f124988a.ae02a8","x":440,"y":560,"wires":[]},{"id":"65d4c081.43d02","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/powerDown","qos":"","broker":"f124988a.ae02a8","x":435,"y":640,"wires":[]},{"id":"d0e34c48.b5a82","type":"inject","z":"65081c49.6197b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":145,"y":620,"wires":[["65d4c081.43d02"]]},{"id":"5bc871de.a387","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/brakeIncrease","qos":"","broker":"f124988a.ae02a8","x":1370,"y":560,"wires":[]},{"id":"5a6b91a3.2767d","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","broker":"f124988a.ae02a8","x":1400,"y":640,"wires":[]},{"id":"425fb288.b644bc","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/reverserForward","qos":"","broker":"f124988a.ae02a8","x":445,"y":480,"wires":[]},{"id":"9d3be90a.825058","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":885,"y":720,"wires":[["c72e3dc8.dbc34","699d1601.520628"]]},{"id":"58e2db0f.b4fb44","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":795,"y":120,"wires":[["4597ace.bb20754"]]},{"id":"6397dd4d.398384","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":775,"y":180,"wires":[["f47a993c.bbb568"]]},{"id":"72083a93.883aa4","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":185,"y":300,"wires":[["4b7cdb77.730474","8c1d1d37.67ead"]]},{"id":"fc6d87db.e86418","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"train/infos/distanceToNextStation","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":215,"y":960,"wires":[["9c479224.a8893"]]},{"id":"9c479224.a8893","type":"function","z":"65081c49.6197b4","name":"split string","func":"var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":960,"wires":[["5f1aca86.584c24"]]},{"id":"46f60f23.4faf2","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"train/sensors/soundsPlaying","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":205,"y":860,"wires":[["70203be4.0ef0c4"]]},{"id":"d64187b6.c41318","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/power","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":185,"y":420,"wires":[["a249197d.7a7188","e5ddee4b.fb2f3"]]},{"id":"4c3015da.08707c","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":415,"y":240,"wires":[["f89edb3b.fafb48"]]},{"id":"8c1d1d37.67ead","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":415,"y":320,"wires":[["f89edb3b.fafb48"]]},{"id":"e5ddee4b.fb2f3","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":375,"y":440,"wires":[["243ba0fe.b4643"]]},{"id":"699d1601.520628","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1115,"y":740,"wires":[["d592c412.9a1048"]]},{"id":"620457dd.27cef8","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/reverser","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":195,"y":700,"wires":[["8bc87156.50c11"]]},{"id":"74ddf4ff.1483ec","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/reverserBackward","qos":"","broker":"f124988a.ae02a8","x":455,"y":760,"wires":[]},{"id":"a1059b70.1760d8","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"train/infos/distanceToTrain","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":195,"y":1000,"wires":[["9b09d26b.e5629"]]},{"id":"82a260af.72299","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"train/actuators/sound1","qos":"","broker":"f124988a.ae02a8","x":465,"y":1060,"wires":[]},{"id":"118b7c65.47a124","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"train/actuators/sound2","qos":"","broker":"f124988a.ae02a8","x":465,"y":1100,"wires":[]},{"id":"620b9fe2.e389d","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"train/infos/sound1","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":175,"y":1160,"wires":[["f911fdd3.a79b5","cf82f6a5.b26f68"]]},{"id":"b8722f1.046a2d","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"train/infos/sound2","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":175,"y":1280,"wires":[["f8962335.23e55","15a1bb6c.d0a505"]]},{"id":"7b7d6a26.684a74","type":"rbe","z":"65081c49.6197b4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":715,"y":1200,"wires":[["e4602658.4dd108"]]},{"id":"e63f2b2d.a47808","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1180,"wires":[["7b7d6a26.684a74"]]},{"id":"cf82f6a5.b26f68","type":"switch","z":"65081c49.6197b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":415,"y":1200,"wires":[["e63f2b2d.a47808"],["7fbac5d.84cec3c"]]},{"id":"7fbac5d.84cec3c","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1220,"wires":[["7b7d6a26.684a74"]]},{"id":"e4602658.4dd108","type":"link out","z":"65081c49.6197b4","name":"","links":["a7babe88.9ad03"],"x":800,"y":1200,"wires":[]},{"id":"a7babe88.9ad03","type":"link in","z":"65081c49.6197b4","name":"","links":["e4602658.4dd108"],"x":100,"y":1060,"wires":[["95fcd5d7.ca06a8"]]},{"id":"4b4fb611.dece48","type":"rbe","z":"65081c49.6197b4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":715,"y":1320,"wires":[["57fb8273.e462ec"]]},{"id":"eb1d7e0f.e4e47","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1300,"wires":[["4b4fb611.dece48"]]},{"id":"15a1bb6c.d0a505","type":"switch","z":"65081c49.6197b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":415,"y":1320,"wires":[["eb1d7e0f.e4e47"],["7bc4210b.75724"]]},{"id":"7bc4210b.75724","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1340,"wires":[["4b4fb611.dece48"]]},{"id":"57fb8273.e462ec","type":"link out","z":"65081c49.6197b4","name":"","links":["ca21adcc.720fc"],"x":800,"y":1320,"wires":[]},{"id":"ca21adcc.720fc","type":"link in","z":"65081c49.6197b4","name":"","links":["57fb8273.e462ec"],"x":100,"y":1100,"wires":[["f95f8e36.bb2e9"]]},{"id":"26bfbb77.a4f464","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/doorsLeft","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":255,"y":1520,"wires":[["e7653408.6a9e58"]]},{"id":"fc176a21.15fe48","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/doorsRight","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":255,"y":1560,"wires":[["15093162.68ba5f"]]},{"id":"93308e93.9d34c","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":1520,"wires":[[]]},{"id":"9d093be4.c0c888","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":1560,"wires":[[]]},{"id":"2fa89c43.f2b374","type":"switch","z":"65081c49.6197b4","name":"door left check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":415,"y":1760,"wires":[["f2bb5480.429998","4f2b1913.c82918"],["c9dab4c4.352fe8"],["f299b0b5.4a30a"]]},{"id":"f2bb5480.429998","type":"switch","z":"65081c49.6197b4","name":"door right check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":665,"y":1760,"wires":[["5abcd510.042a1c","7d0dd253.f78d8c"],["1e8b564c.7213fa"],["bdd360d5.48008"]]},{"id":"5abcd510.042a1c","type":"switch","z":"65081c49.6197b4","name":"check reverser","property":"reverser","propertyType":"flow","rules":[{"t":"eq","v":"Forwards","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":895,"y":1760,"wires":[["3d3ce669.01936a","83a16ce4.168"],["b4f0ea2f.9c2978","66d9b5ac.b13bdc"]]},{"id":"f299b0b5.4a30a","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":425,"y":1820,"wires":[]},{"id":"c9dab4c4.352fe8","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":415,"y":1680,"wires":[["2fa89c43.f2b374"]]},{"id":"1e8b564c.7213fa","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":675,"y":1680,"wires":[["f2bb5480.429998"]]},{"id":"bdd360d5.48008","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/doorsRight","qos":"","broker":"f124988a.ae02a8","x":685,"y":1820,"wires":[]},{"id":"b4f0ea2f.9c2978","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/reverserForward","qos":"","broker":"f124988a.ae02a8","x":985,"y":1820,"wires":[]},{"id":"3d3ce669.01936a","type":"switch","z":"65081c49.6197b4","name":"check brake","property":"brake","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":395,"y":1960,"wires":[["cb21e382.0becc","6cb01cbd.c0edc4"],["606f9a7.70c4964","51c39694.6128f8"]]},{"id":"f6d05afe.415448","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1185,"y":1520,"wires":[[]]},{"id":"4e7f3f0b.d94d6","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/brake","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":865,"y":1520,"wires":[["f6d05afe.415448"]]},{"id":"cb21e382.0becc","type":"switch","z":"65081c49.6197b4","name":"check power","property":"power","propertyType":"flow","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gt","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":695,"y":1960,"wires":[["fe4fd553.16d348","1e1c1573.4058eb"],["34e5e5d8.fabfaa","1ccf8c1b.c7c4d4"]]},{"id":"1e1c1573.4058eb","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/powerUp","qos":"","broker":"f124988a.ae02a8","x":745,"y":2020,"wires":[]},{"id":"606f9a7.70c4964","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","broker":"f124988a.ae02a8","x":425,"y":2020,"wires":[]},{"id":"51c39694.6128f8","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":395,"y":1900,"wires":[["3d3ce669.01936a"]]},{"id":"fe4fd553.16d348","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":695,"y":1900,"wires":[["cb21e382.0becc"]]},{"id":"2c528708.90d3e8","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/power","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":865,"y":1560,"wires":[["c27f592f.b213a8"]]},{"id":"7997bd57.9b7444","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"power","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1185,"y":1560,"wires":[[]]},{"id":"c27f592f.b213a8","type":"function","z":"65081c49.6197b4","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1025,"y":1560,"wires":[["7997bd57.9b7444"]]},{"id":"a19ef235.4af82","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/reverser","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":255,"y":1600,"wires":[["42d2b643.238648"]]},{"id":"42d2b643.238648","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"reverser","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":625,"y":1600,"wires":[[]]},{"id":"e7653408.6a9e58","type":"function","z":"65081c49.6197b4","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":445,"y":1520,"wires":[["93308e93.9d34c"]]},{"id":"15093162.68ba5f","type":"function","z":"65081c49.6197b4","name":"split msg","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":1560,"wires":[["9d093be4.c0c888"]]},{"id":"83a16ce4.168","type":"link out","z":"65081c49.6197b4","name":"","links":["5b53379c.9aef98"],"x":1080,"y":1760,"wires":[]},{"id":"5b53379c.9aef98","type":"link in","z":"65081c49.6197b4","name":"","links":["83a16ce4.168"],"x":200,"y":1960,"wires":[["3d3ce669.01936a"]]},{"id":"34e5e5d8.fabfaa","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"The train is moving","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1960,"wires":[["55c80fcb.b650b"]]},{"id":"9b888fe8.e14c6","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":865,"y":1600,"wires":[["1b9cacbb.355d03"]]},{"id":"dd3c7ce4.c546","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"speedLimit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1215,"y":1600,"wires":[[]]},{"id":"1b9cacbb.355d03","type":"function","z":"65081c49.6197b4","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1045,"y":1600,"wires":[["dd3c7ce4.c546"]]},{"id":"4f2b1913.c82918","type":"link out","z":"65081c49.6197b4","name":"","links":["7b997a18.520b94"],"x":560,"y":1660,"wires":[]},{"id":"7d0dd253.f78d8c","type":"link out","z":"65081c49.6197b4","name":"","links":["53025c69.563144"],"x":820,"y":1660,"wires":[]},{"id":"6cb01cbd.c0edc4","type":"link out","z":"65081c49.6197b4","name":"","links":["96debb7c.f433f8"],"x":540,"y":1900,"wires":[]},{"id":"1ccf8c1b.c7c4d4","type":"link out","z":"65081c49.6197b4","name":"","links":["224af5d0.0a952a"],"x":840,"y":1900,"wires":[]},{"id":"7b997a18.520b94","type":"link in","z":"65081c49.6197b4","name":"","links":["4f2b1913.c82918"],"x":200,"y":2080,"wires":[["12394f4e.487e21"]]},{"id":"53025c69.563144","type":"link in","z":"65081c49.6197b4","name":"","links":["7d0dd253.f78d8c"],"x":200,"y":2120,"wires":[["a856cf30.a2844"]]},{"id":"96debb7c.f433f8","type":"link in","z":"65081c49.6197b4","name":"","links":["6cb01cbd.c0edc4"],"x":200,"y":2160,"wires":[["fdf02a8f.41ffa8"]]},{"id":"224af5d0.0a952a","type":"link in","z":"65081c49.6197b4","name":"","links":["1ccf8c1b.c7c4d4"],"x":200,"y":2200,"wires":[["96b04ba.922ccb8"]]},{"id":"12394f4e.487e21","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door Left Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":2080,"wires":[["d622e2fe.7853f"]]},{"id":"a856cf30.a2844","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door Right Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":2120,"wires":[["e08e7ac6.e91de8"]]},{"id":"fdf02a8f.41ffa8","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brake Neutral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":2160,"wires":[["401734ee.37583c"]]},{"id":"96b04ba.922ccb8","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Power Set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":2200,"wires":[["f73104af.5904a8"]]},{"id":"aba8d6be.bb5ca8","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/brakeIncrease","qos":"","broker":"f124988a.ae02a8","x":1325,"y":2260,"wires":[]},{"id":"634d0383.b9b48c","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/brakeDecrease","qos":"","broker":"f124988a.ae02a8","x":1325,"y":2340,"wires":[]},{"id":"a89330f6.3f26","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":275,"y":2320,"wires":[["2ab35042.201f2"]]},{"id":"90708b14.0bf338","type":"switch","z":"65081c49.6197b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"speedLimit","vt":"flow"},{"t":"lt","v":"speedLimit","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":995,"y":2320,"wires":[["eadc3ac9.843988"],["3ff9a6e7.e6d09a"]]},{"id":"9a66b745.6fbb28","type":"function","z":"65081c49.6197b4","name":"parseInt","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":865,"y":2320,"wires":[["90708b14.0bf338"]]},{"id":"2ab35042.201f2","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":475,"y":2320,"wires":[["9a0a760f.af8228"]]},{"id":"66d9b5ac.b13bdc","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":975,"y":1680,"wires":[["5abcd510.042a1c"]]},{"id":"3ff9a6e7.e6d09a","type":"switch","z":"65081c49.6197b4","name":"","property":"brake","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1115,"y":2360,"wires":[["634d0383.b9b48c"],["7772c459.0192ec"]]},{"id":"b19251d1.b349b","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/powerDown","qos":"","broker":"f124988a.ae02a8","x":1315,"y":2300,"wires":[]},{"id":"eadc3ac9.843988","type":"switch","z":"65081c49.6197b4","name":"","property":"brake","propertyType":"flow","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1115,"y":2280,"wires":[["aba8d6be.bb5ca8"],["b19251d1.b349b"]]},{"id":"7772c459.0192ec","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/actuators/powerUp","qos":"","broker":"f124988a.ae02a8","x":1305,"y":2380,"wires":[]},{"id":"9a0a760f.af8228","type":"switch","z":"65081c49.6197b4","name":"Speed Control Activated","property":"speedControl","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":675,"y":2320,"wires":[["9a66b745.6fbb28"]]},{"id":"15f4fdf2.027d72","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"speedControl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":2380,"wires":[[]]},{"id":"e0de4f35.81e6","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/currentSpeed","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":945,"y":860,"wires":[["eec2edf7.7a6f8"]]},{"id":"d03174bf.18f228","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/infos/speedLimit","qos":"0","datatype":"auto","broker":"f124988a.ae02a8","x":925,"y":900,"wires":[["9749631f.d9f72"]]},{"id":"61634ca3.b77b84","type":"mqtt in","z":"65081c49.6197b4","name":"","topic":"its/train/sensors/behaviouralDrift","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":955,"y":1020,"wires":[["4c83d97b.090708"]]},{"id":"eec2edf7.7a6f8","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1155,"y":860,"wires":[["fccd82cb.bcd8f"]]},{"id":"9749631f.d9f72","type":"delay","z":"65081c49.6197b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1155,"y":900,"wires":[["fccd82cb.bcd8f"]]},{"id":"f14ca511.9ce188","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1065,"y":360,"wires":[["8e1668f0.02c128"]]},{"id":"892dade.25ccf5","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1065,"y":420,"wires":[["8e1668f0.02c128"]]},{"id":"8e1668f0.02c128","type":"mqtt out","z":"65081c49.6197b4","name":"its/train/doorsLeft","topic":"its/train/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":1335,"y":380,"wires":[]},{"id":"d81decbd.5a1de","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1065,"y":240,"wires":[["a19e86eb.595598"]]},{"id":"13177c8b.269053","type":"change","z":"65081c49.6197b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1045,"y":300,"wires":[["a19e86eb.595598"]]},{"id":"6e7bcee3.b48c5","type":"ui_text","z":"65081c49.6197b4","group":"fa0b3c3e.f61bd","order":3,"width":0,"height":0,"name":"","label":"Acceleration : ","format":"{{msg.payload}}","layout":"row-left","x":465,"y":160,"wires":[]},{"id":"4597ace.bb20754","type":"ui_text","z":"65081c49.6197b4","group":"f5f0c1fd.c8d1","order":3,"width":0,"height":0,"name":"","label":"Door left :","format":"{{msg.payload}}","layout":"row-left","x":1045,"y":100,"wires":[]},{"id":"f47a993c.bbb568","type":"ui_text","z":"65081c49.6197b4","group":"f5f0c1fd.c8d1","order":4,"width":0,"height":0,"name":"","label":"Door Right :","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":180,"wires":[]},{"id":"4b7cdb77.730474","type":"ui_text","z":"65081c49.6197b4","group":"fa0b3c3e.f61bd","order":2,"width":0,"height":0,"name":"","label":"Limit :","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":280,"wires":[]},{"id":"cae328eb.ff8738","type":"ui_text","z":"65081c49.6197b4","group":"dd9691a4.fd40b","order":1,"width":0,"height":0,"name":"","label":"Train stations (distances)","format":"{{msg.payload}}","layout":"row-spread","x":195,"y":920,"wires":[]},{"id":"70203be4.0ef0c4","type":"ui_text","z":"65081c49.6197b4","group":"1b02ca67.ae19a6","order":1,"width":0,"height":0,"name":"","label":"Nb of Sounds : ","format":"{{msg.payload}}","layout":"row-left","x":425,"y":860,"wires":[]},{"id":"8bc87156.50c11","type":"ui_text","z":"65081c49.6197b4","group":"300727ed.f63798","order":6,"width":0,"height":0,"name":"","label":"Reverser :","format":"{{msg.payload}}","layout":"row-spread","x":475,"y":700,"wires":[]},{"id":"9b09d26b.e5629","type":"ui_text","z":"65081c49.6197b4","group":"1b02ca67.ae19a6","order":2,"width":0,"height":0,"name":"","label":"Distance to next train : ","format":"{{msg.payload}}","layout":"row-left","x":465,"y":1000,"wires":[]},{"id":"f911fdd3.a79b5","type":"ui_text","z":"65081c49.6197b4","group":"1b02ca67.ae19a6","order":3,"width":0,"height":0,"name":"","label":"sound 1 is playing :","format":"{{msg.payload}}","layout":"row-center","x":455,"y":1140,"wires":[]},{"id":"f8962335.23e55","type":"ui_text","z":"65081c49.6197b4","group":"1b02ca67.ae19a6","order":4,"width":0,"height":0,"name":"","label":"sound 2 is playing :","format":"{{msg.payload}}","layout":"row-center","x":455,"y":1260,"wires":[]},{"id":"dbe977b5.0169d8","type":"ui_gauge","z":"65081c49.6197b4","name":"","group":"fa0b3c3e.f61bd","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":395,"y":200,"wires":[]},{"id":"c72e3dc8.dbc34","type":"ui_gauge","z":"65081c49.6197b4","name":"","group":"59020ce4.b6e7b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Brakes","label":"units","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1125,"y":700,"wires":[]},{"id":"a249197d.7a7188","type":"ui_gauge","z":"65081c49.6197b4","name":"","group":"300727ed.f63798","order":1,"width":0,"height":0,"gtype":"gage","title":"Power","label":"units","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":355,"y":400,"wires":[]},{"id":"f89edb3b.fafb48","type":"ui_chart","z":"65081c49.6197b4","name":"","group":"fa0b3c3e.f61bd","order":4,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ea2728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":555,"y":280,"wires":[[]]},{"id":"243ba0fe.b4643","type":"ui_chart","z":"65081c49.6197b4","name":"","group":"fa0b3c3e.f61bd","order":5,"width":0,"height":0,"label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":535,"y":440,"wires":[[]]},{"id":"d592c412.9a1048","type":"ui_chart","z":"65081c49.6197b4","name":"","group":"fa0b3c3e.f61bd","order":6,"width":0,"height":0,"label":"Brakes","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1265,"y":740,"wires":[[]]},{"id":"4c83d97b.090708","type":"ui_chart","z":"65081c49.6197b4","name":"","group":"141fd2fb.217aed","order":3,"width":0,"height":0,"label":"Behavioural Drift","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1205,"y":1020,"wires":[[]]},{"id":"fccd82cb.bcd8f","type":"ui_chart","z":"65081c49.6197b4","name":"","group":"141fd2fb.217aed","order":1,"width":0,"height":0,"label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1295,"y":880,"wires":[[]]},{"id":"55c80fcb.b650b","type":"ui_toast","z":"65081c49.6197b4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Train started","name":"Train Started","x":1095,"y":1960,"wires":[]},{"id":"d622e2fe.7853f","type":"ui_toast","z":"65081c49.6197b4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Door Left Closed","x":575,"y":2080,"wires":[]},{"id":"e08e7ac6.e91de8","type":"ui_toast","z":"65081c49.6197b4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Door Right Closed","x":575,"y":2120,"wires":[]},{"id":"401734ee.37583c","type":"ui_toast","z":"65081c49.6197b4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Brake Neutral","x":565,"y":2160,"wires":[]},{"id":"f73104af.5904a8","type":"ui_toast","z":"65081c49.6197b4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Power Set","x":555,"y":2200,"wires":[]},{"id":"219add2e.57d2a2","type":"ui_button","z":"65081c49.6197b4","name":"","group":"300727ed.f63798","order":2,"width":3,"height":1,"passthru":false,"label":"Power Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":155,"y":660,"wires":[["65d4c081.43d02"]]},{"id":"9586b286.c47a","type":"ui_button","z":"65081c49.6197b4","name":"","group":"300727ed.f63798","order":3,"width":3,"height":1,"passthru":true,"label":"Power Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"accelerate","payloadType":"str","topic":"","x":145,"y":520,"wires":[["b4f4b329.cea0e"]]},{"id":"1b60355f.dca17b","type":"ui_button","z":"65081c49.6197b4","name":"","group":"59020ce4.b6e7b4","order":3,"width":3,"height":1,"passthru":false,"label":"Brake +","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":980,"y":560,"wires":[["5bc871de.a387"]]},{"id":"6d796dc7.d1e164","type":"ui_button","z":"65081c49.6197b4","name":"","group":"59020ce4.b6e7b4","order":2,"width":3,"height":1,"passthru":false,"label":"Brake -","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":980,"y":640,"wires":[["5a6b91a3.2767d"]]},{"id":"72248009.09a28","type":"ui_button","z":"65081c49.6197b4","name":"","group":"300727ed.f63798","order":4,"width":3,"height":1,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":145,"y":480,"wires":[["425fb288.b644bc"]]},{"id":"f0ef63df.7413e","type":"ui_button","z":"65081c49.6197b4","name":"","group":"300727ed.f63798","order":5,"width":3,"height":1,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":145,"y":760,"wires":[["74ddf4ff.1483ec"]]},{"id":"34c9cf6c.d011f","type":"ui_button","z":"65081c49.6197b4","name":"","group":"1b02ca67.ae19a6","order":8,"width":0,"height":0,"passthru":false,"label":"Start Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":215,"y":1760,"wires":[["2fa89c43.f2b374"]]},{"id":"e2b7f04d.3fc5d","type":"ui_button","z":"65081c49.6197b4","name":"","group":"f5f0c1fd.c8d1","order":1,"width":"0","height":"0","passthru":false,"label":"Open Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":835,"y":240,"wires":[["d81decbd.5a1de"]]},{"id":"94a6f086.1ca25","type":"ui_button","z":"65081c49.6197b4","name":"","group":"f5f0c1fd.c8d1","order":1,"width":"0","height":"0","passthru":false,"label":"Close Right Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":835,"y":300,"wires":[["13177c8b.269053"]]},{"id":"9b58700.3fc4a9","type":"ui_button","z":"65081c49.6197b4","name":"","group":"f5f0c1fd.c8d1","order":1,"width":"0","height":"0","passthru":false,"label":"Open Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":805,"y":360,"wires":[["f14ca511.9ce188"]]},{"id":"77f96dd6.5cb0d4","type":"ui_button","z":"65081c49.6197b4","name":"","group":"f5f0c1fd.c8d1","order":1,"width":"0","height":"0","passthru":false,"label":"Close Left Doors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":815,"y":420,"wires":[["892dade.25ccf5"]]},{"id":"95fcd5d7.ca06a8","type":"ui_switch","z":"65081c49.6197b4","name":"","label":"Play sound 1","tooltip":"","group":"1b02ca67.ae19a6","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"m","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i","offvalueType":"str","officon":"","offcolor":"","x":235,"y":1060,"wires":[["82a260af.72299"]]},{"id":"f95f8e36.bb2e9","type":"ui_switch","z":"65081c49.6197b4","name":"","label":"Play sound 2","tooltip":"","group":"1b02ca67.ae19a6","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"m","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i","offvalueType":"str","officon":"","offcolor":"","x":235,"y":1100,"wires":[["118b7c65.47a124"]]},{"id":"e49ef910.968a38","type":"ui_switch","z":"65081c49.6197b4","name":"","label":"Speed Control","tooltip":"","group":"1b02ca67.ae19a6","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":225,"y":2380,"wires":[["15f4fdf2.027d72"]]},{"id":"5f1aca86.584c24","type":"ui_list","z":"65081c49.6197b4","group":"dd9691a4.fd40b","name":"","order":2,"width":"0","height":"0","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":575,"y":960,"wires":[]},{"id":"28a70501.535dca","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/doorsLeft","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":120,"y":180,"wires":[["85b95b6a.09acc8","ee13a696.963c98"]]},{"id":"19d9f5c2.69c9fa","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/doorsRight","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":130,"y":260,"wires":[["20e88779.efe6f8","365c97f2.194618"]]},{"id":"85b95b6a.09acc8","type":"function","z":"f54e9c0c.924aa","name":"","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["e1a5b2.5d104a5"]]},{"id":"20e88779.efe6f8","type":"function","z":"f54e9c0c.924aa","name":"","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["e708b3a3.842cc"]]},{"id":"ee13a696.963c98","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/doorsLeft","qos":"1","broker":"f124988a.ae02a8","x":570,"y":100,"wires":[]},{"id":"365c97f2.194618","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/doorsRight","qos":"1","broker":"f124988a.ae02a8","x":520,"y":320,"wires":[]},{"id":"e1a5b2.5d104a5","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"doorsLeft","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[[]]},{"id":"e708b3a3.842cc","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"doorsRight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[[]]},{"id":"fa01263b.d68698","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/currentSpeed","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":110,"y":420,"wires":[["c5ddbd8.f36294","1da36e02.3846d2"]]},{"id":"1da36e02.3846d2","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/currentSpeed","qos":"","broker":"f124988a.ae02a8","x":610,"y":480,"wires":[]},{"id":"c5ddbd8.f36294","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":420,"wires":[["e9df99f0.586a18"]]},{"id":"e9df99f0.586a18","type":"function","z":"f54e9c0c.924aa","name":"","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":420,"wires":[["fe783037.f589a"]]},{"id":"fe783037.f589a","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"trainSpeed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":420,"wires":[[]]},{"id":"66cd8ae3.6d8404","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"brake","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[[]]},{"id":"a1a60a72.8653b8","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/brake","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":100,"y":540,"wires":[["66cd8ae3.6d8404","5d38b535.4973bc"]]},{"id":"5d38b535.4973bc","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/brake","qos":"","broker":"f124988a.ae02a8","x":400,"y":620,"wires":[]},{"id":"9bbcface.a8baa8","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/power","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":110,"y":720,"wires":[["b335a074.52197","128bb9a9.0c9ea6"]]},{"id":"128bb9a9.0c9ea6","type":"mqtt out","z":"f54e9c0c.924aa","name":"its/train/sensors/power","topic":"its/train/sensors/power","qos":"","broker":"f124988a.ae02a8","x":440,"y":800,"wires":[]},{"id":"b335a074.52197","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":720,"wires":[["92c94467.5b5148"]]},{"id":"92c94467.5b5148","type":"function","z":"f54e9c0c.924aa","name":"","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":720,"wires":[["65dec488.de81bc"]]},{"id":"65dec488.de81bc","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"trainPower","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":720,"wires":[[]]},{"id":"13041ed.4e44de1","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/infos/speedLimit","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":160,"y":940,"wires":[["f831b139.c5daa"]]},{"id":"f831b139.c5daa","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/infos/speedLimit","qos":"","broker":"f124988a.ae02a8","x":510,"y":940,"wires":[]},{"id":"e5051c38.241b8","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/currentAvgAcc","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":180,"y":1040,"wires":[["67d8fef6.70e1a"]]},{"id":"67d8fef6.70e1a","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/currentAvgAcc","qos":"","broker":"f124988a.ae02a8","x":550,"y":1040,"wires":[]},{"id":"6c129fde.32662","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/reverser","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":160,"y":1180,"wires":[["65c9041f.ccca1c"]]},{"id":"65c9041f.ccca1c","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/reverser","qos":"","broker":"f124988a.ae02a8","x":530,"y":1180,"wires":[]},{"id":"6ea5c89a.895be8","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/sensors/behaviouralDrift","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":180,"y":1320,"wires":[["d1dab3b5.9b1a8"]]},{"id":"d1dab3b5.9b1a8","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/sensors/behaviouralDrift","qos":"","broker":"f124988a.ae02a8","x":530,"y":1320,"wires":[]},{"id":"1867a14f.18a42f","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/doorsLeft","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":170,"y":1520,"wires":[["c03fb1a1.589ab"]]},{"id":"8d47583.c932ca8","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":710,"y":1520,"wires":[]},{"id":"c03fb1a1.589ab","type":"switch","z":"f54e9c0c.924aa","name":"","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1520,"wires":[["8d47583.c932ca8"]]},{"id":"68d62141.122c2","type":"switch","z":"f54e9c0c.924aa","name":"","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1680,"wires":[["bd1b05a0.fc9f28"]]},{"id":"591cf5b.ea85d0c","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/doorsRight","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":180,"y":1680,"wires":[["68d62141.122c2"]]},{"id":"bd1b05a0.fc9f28","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/doorsRight","qos":"","broker":"f124988a.ae02a8","x":710,"y":1680,"wires":[]},{"id":"c4d8c4f8.dfcc08","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/brakeIncrease","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":190,"y":1800,"wires":[["50b30853.9138a8"]]},{"id":"50b30853.9138a8","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/brakeIncrease","qos":"","broker":"f124988a.ae02a8","x":580,"y":1800,"wires":[]},{"id":"f8a3a2d9.97a5","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/brakeDecrease","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":190,"y":1940,"wires":[["bbdf3427.e3b5f8"]]},{"id":"bbdf3427.e3b5f8","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/brakeDecrease","qos":"","broker":"f124988a.ae02a8","x":550,"y":1940,"wires":[]},{"id":"661e48b.3445db8","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/powerDown","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":180,"y":2100,"wires":[["1cfe3743.647429"]]},{"id":"1cfe3743.647429","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/powerDown","qos":"","broker":"f124988a.ae02a8","x":1060,"y":2100,"wires":[]},{"id":"495052a8.55c7ec","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/powerUp","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":150,"y":2300,"wires":[["56d6b9b2.b80668"]]},{"id":"695b387a.819378","type":"switch","z":"f54e9c0c.924aa","name":"Check Power","property":"trainPower","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":2300,"wires":[["4ba856d7.faafc8"]]},{"id":"4ba856d7.faafc8","type":"switch","z":"f54e9c0c.924aa","name":"left doors check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1000,"y":2300,"wires":[["b5fc1f2e.68c5b"],["ed90b701.7f8c08"],["caa8466a.2e38d8"]]},{"id":"b5fc1f2e.68c5b","type":"switch","z":"f54e9c0c.924aa","name":"right doors check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1270,"y":2300,"wires":[["cb7509c3.d97228"],["e4ff0d5d.deaea"],["fbb8d17c.f1e2a"]]},{"id":"caa8466a.2e38d8","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Left doors are opened! Please close theml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":2400,"wires":[["a78e49b2.0cd088"]]},{"id":"a78e49b2.0cd088","type":"ui_toast","z":"f54e9c0c.924aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Left Doors Opened","x":1410,"y":2480,"wires":[]},{"id":"ed90b701.7f8c08","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":2200,"wires":[["4ba856d7.faafc8"]]},{"id":"e4ff0d5d.deaea","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":2200,"wires":[["b5fc1f2e.68c5b"]]},{"id":"a1313351.1be9d","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/powerUp","qos":"","broker":"f124988a.ae02a8","x":2149.999999999999,"y":2300,"wires":[]},{"id":"fbb8d17c.f1e2a","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Right doors are opened! Please close them","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":2400,"wires":[["335940d4.6dc5c"]]},{"id":"335940d4.6dc5c","type":"ui_toast","z":"f54e9c0c.924aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Right Doors Opened","x":1820,"y":2400,"wires":[]},{"id":"5df8eb2a.d44504","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/reverserForward","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":280,"y":2920,"wires":[["649be872.a53cb8"]]},{"id":"f92eff2f.25982","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/reverserBackward","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":280,"y":3160,"wires":[["958fdcdb.a42b2"]]},{"id":"c2bff0cd.10ad4","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/reverserForward","qos":"","broker":"f124988a.ae02a8","x":1130,"y":2920,"wires":[]},{"id":"c117bff5.4c441","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/reverserBackward","qos":"","broker":"f124988a.ae02a8","x":1040,"y":3160,"wires":[]},{"id":"9c88953e.a52f28","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attention ! you can't change the direction while the train is rolling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":3040,"wires":[["1a3687d7.2b6118"]]},{"id":"649be872.a53cb8","type":"switch","z":"f54e9c0c.924aa","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":2920,"wires":[["ca3e893b.8a8eb8"],["9c88953e.a52f28"]]},{"id":"958fdcdb.a42b2","type":"switch","z":"f54e9c0c.924aa","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3160,"wires":[["c117bff5.4c441"],["9c88953e.a52f28"]]},{"id":"1a3687d7.2b6118","type":"ui_toast","z":"f54e9c0c.924aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":3040,"wires":[]},{"id":"5d6dafa6.4bf93","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/emergencyStop","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":140,"y":2600,"wires":[["3fbf478f.6f37f8"]]},{"id":"2ea434d4.cfd9fc","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"train/actuators/brakeIncrease","qos":"","broker":"f124988a.ae02a8","x":1520,"y":2760,"wires":[]},{"id":"63878e21.38d1e","type":"switch","z":"f54e9c0c.924aa","name":"check brakes","property":"brake","propertyType":"flow","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":2600,"wires":[["b7a6b676.8c2318"],["2ea434d4.cfd9fc","49d8b802.d47888"]]},{"id":"a0c208f.556dbf8","type":"switch","z":"f54e9c0c.924aa","name":"check speed","property":"trainSpeed","propertyType":"flow","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":2600,"wires":[["b6269978.caafb8"],["cc45e98e.c13aa8"]]},{"id":"42db9457.5d40dc","type":"change","z":"f54e9c0c.924aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Train Stopped ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2199.999999999999,"y":2600,"wires":[["f0b55aea.5fddd8"]]},{"id":"49d8b802.d47888","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":2520,"wires":[["63878e21.38d1e"]]},{"id":"cc45e98e.c13aa8","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":2680,"wires":[["a0c208f.556dbf8"]]},{"id":"f0b55aea.5fddd8","type":"ui_toast","z":"f54e9c0c.924aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Train stopped","x":2439.999999999999,"y":2600,"wires":[]},{"id":"ff990786.d3bc38","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/doorsLeft","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":140,"y":3380,"wires":[["36a487d7.6fe968"]]},{"id":"226ea85b.637688","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/doorsLeft","qos":"","broker":"f124988a.ae02a8","x":1660,"y":3360,"wires":[]},{"id":"36a487d7.6fe968","type":"function","z":"f54e9c0c.924aa","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":3380,"wires":[["3bd8785e.e8e2f8"]]},{"id":"3bd8785e.e8e2f8","type":"switch","z":"f54e9c0c.924aa","name":"command check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":3380,"wires":[["b417e373.221cb"],["f0ffdefe.6f045"]]},{"id":"b417e373.221cb","type":"switch","z":"f54e9c0c.924aa","name":"left doors check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":3260,"wires":[["f0da4d68.73cb"],["226ea85b.637688"]]},{"id":"f0ffdefe.6f045","type":"switch","z":"f54e9c0c.924aa","name":"left dooors check","property":"doorsLeft","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":3420,"wires":[["226ea85b.637688"],["4fee24a0.47801c"]]},{"id":"f0da4d68.73cb","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":3340,"wires":[["b417e373.221cb"]]},{"id":"4fee24a0.47801c","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":3520,"wires":[["f0ffdefe.6f045"]]},{"id":"ce6c48e2.e290e8","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3660,"wires":[["52c94c8a.1dd144"]]},{"id":"60c30fc3.21838","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":4100,"wires":[["6fe2603c.efc3"]]},{"id":"7cce77a5.460118","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"its/train/doorsRight","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":150,"y":3840,"wires":[["6ca183e8.c6c49c"]]},{"id":"e39023ff.571ae","type":"mqtt out","z":"f54e9c0c.924aa","name":"","topic":"its/train/actuators/doorsRight","qos":"","broker":"f124988a.ae02a8","x":1160,"y":3860,"wires":[]},{"id":"e1491efc.4cc14","type":"function","z":"f54e9c0c.924aa","name":"split","func":"var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":4020,"wires":[[]]},{"id":"65889acf.3dc494","type":"switch","z":"f54e9c0c.924aa","name":"comm check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":3840,"wires":[["52c94c8a.1dd144"],["6fe2603c.efc3"]]},{"id":"b48db26a.1cc61","type":"mqtt in","z":"f54e9c0c.924aa","name":"its/train/emergencyCall","topic":"its/train/emergencyCall","qos":"2","datatype":"buffer","broker":"f124988a.ae02a8","x":120,"y":4280,"wires":[["f4cd5497.331068"]]},{"id":"a2e188c1.4d3a88","type":"mqtt in","z":"f54e9c0c.924aa","name":"","topic":"train/call","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":100,"y":4500,"wires":[["7030fa8.e66e704","427e744.863db8c"]]},{"id":"7030fa8.e66e704","type":"ui_toast","z":"f54e9c0c.924aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":" ","name":"Emergency","x":460,"y":4500,"wires":[]},{"id":"427e744.863db8c","type":"ui_audio","z":"f54e9c0c.924aa","name":"Emergency Call","group":"1b02ca67.ae19a6","voice":"Google US English","always":true,"x":460,"y":4540,"wires":[]},{"id":"a19e86eb.595598","type":"mqtt out","z":"65081c49.6197b4","name":"","topic":"its/train/doorsRight","qos":"","broker":"f124988a.ae02a8","x":1375,"y":260,"wires":[]},{"id":"52c94c8a.1dd144","type":"switch","z":"f54e9c0c.924aa","name":"right doors check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Mixed","vt":"str"},{"t":"eq","v":"Opened","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":3780,"wires":[["ce6c48e2.e290e8"],["e39023ff.571ae"]]},{"id":"6fe2603c.efc3","type":"switch","z":"f54e9c0c.924aa","name":"right doors check","property":"doorsRight","propertyType":"flow","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Mixed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":3940,"wires":[["e39023ff.571ae"],["60c30fc3.21838"]]},{"id":"b7a6b676.8c2318","type":"function","z":"f54e9c0c.924aa","name":"Disable Acceleration","func":"global.set(\"Acceleration\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":2600,"wires":[["a0c208f.556dbf8"]]},{"id":"88edafb7.5860b","type":"function","z":"f54e9c0c.924aa","name":"Enable Acceleration","func":"global.set(\"Acceleration\",1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1940,"y":2600,"wires":[["42db9457.5d40dc"]]},{"id":"cb7509c3.d97228","type":"function","z":"f54e9c0c.924aa","name":"Check Accelration Availability","func":"let acc = global.get(\"Acceleration\");\n\nif(acc == 0)\n    msg.payload = 0\nelse\n    msg.payload = 1\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":2300,"wires":[["cdde7620.c80408","8eb8a491.6dfb58"]]},{"id":"cdde7620.c80408","type":"switch","z":"f54e9c0c.924aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":2300,"wires":[["a1313351.1be9d"]]},{"id":"8eb8a491.6dfb58","type":"debug","z":"f54e9c0c.924aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1770,"y":2120,"wires":[]},{"id":"ca3e893b.8a8eb8","type":"function","z":"f54e9c0c.924aa","name":"","func":"global.set(\"Acceleration\",1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":2920,"wires":[["c2bff0cd.10ad4"]]},{"id":"b6269978.caafb8","type":"delay","z":"f54e9c0c.924aa","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":2600,"wires":[["88edafb7.5860b"]]},{"id":"f14c4a72.959ae8","type":"mqtt in","z":"adc3f86e.c10318","name":"","topic":"test/sound","qos":"2","datatype":"auto","broker":"f124988a.ae02a8","x":100,"y":100,"wires":[["c4c45b00.cb3388"]]},{"id":"a0a3058f.bf6198","type":"play audio","z":"adc3f86e.c10318","name":"","voice":"0","x":930,"y":100,"wires":[]},{"id":"c4c45b00.cb3388","type":"function","z":"adc3f86e.c10318","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":360,"wires":[["a0a3058f.bf6198"]]},{"id":"625c98bc.ed2d78","type":"file in","z":"361f3503.6ea6da","name":"Get FIle Sound","filename":"D:\\PolytechNiceSophia\\alarme2.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":445,"y":440,"wires":[["129a3970.733d97"]]},{"id":"38e374cc.ff184c","type":"inject","z":"361f3503.6ea6da","name":"Generate conflict","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":205,"y":100,"wires":[["625c98bc.ed2d78","8ce316e2.e5a478"]]},{"id":"8ce316e2.e5a478","type":"link out","z":"361f3503.6ea6da","name":"","links":["6e5d4add.373d74","76957728.ec00b8"],"x":100,"y":360,"wires":[]},{"id":"129a3970.733d97","type":"mqtt out","z":"361f3503.6ea6da","name":"","topic":"test/sound","qos":"","broker":"f124988a.ae02a8","x":975,"y":120,"wires":[]},{"id":"76957728.ec00b8","type":"link in","z":"ebcf5835.feb498","name":"","links":["8ce316e2.e5a478"],"x":100,"y":100,"wires":[["6d37604c.bdda"]]},{"id":"6d37604c.bdda","type":"file in","z":"ebcf5835.feb498","name":"Get File Sound","filename":"D:\\PolytechNiceSophia\\alarme1.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":300,"y":440,"wires":[["9c27834.8ef1f8"]]},{"id":"9c27834.8ef1f8","type":"mqtt out","z":"ebcf5835.feb498","name":"","topic":"test/sound","qos":"","broker":"f124988a.ae02a8","x":730,"y":120,"wires":[]},{"id":"6602c031.041d1","type":"play audio","z":"f54e9c0c.924aa","name":"","voice":"0","x":1010,"y":4280,"wires":[]},{"id":"f4cd5497.331068","type":"function","z":"f54e9c0c.924aa","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":4280,"wires":[["6602c031.041d1"]]},{"id":"afb031b8.52719","type":"debug","z":"f54e9c0c.924aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":4160,"wires":[]},{"id":"fbea05a0.18fe68","type":"debug","z":"d76e464b.066798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":540,"wires":[]},{"id":"bc0b9c9c.6729b","type":"delay","z":"9605357e.974fc8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":100,"wires":[["1a6b46b0.6db949"]]},{"id":"956bfb75.4bbfd8","type":"delay","z":"d76e464b.066798","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":620,"wires":[["2472e05d.aff0b"]]},{"id":"6ca183e8.c6c49c","type":"function","z":"f54e9c0c.924aa","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":3840,"wires":[["65889acf.3dc494"]]},{"id":"86bcf1dd.49d33","type":"inject","z":"d76e464b.066798","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2020,"wires":[["ddcad500.6e38b8","66246f97.08d75"]]},{"id":"66246f97.08d75","type":"link out","z":"d76e464b.066798","name":"","links":["adcc86a7.f01cc8","c2c1dfb2.e4435"],"x":475,"y":2020,"wires":[]},{"id":"c2c1dfb2.e4435","type":"link in","z":"65081c49.6197b4","name":"","links":["66246f97.08d75"],"x":855,"y":520,"wires":[["892dade.25ccf5"]]},{"id":"56d6b9b2.b80668","type":"function","z":"f54e9c0c.924aa","name":"Power Up","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2300,"wires":[["808d1842.bc2468"]]},{"id":"3fbf478f.6f37f8","type":"function","z":"f54e9c0c.924aa","name":"Stop Train","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":2600,"wires":[["1494b546.4097bb"]]},{"id":"17d45a06.5b38d6","type":"comment","z":"d76e464b.066798","name":"call train","info":"","x":160,"y":1080,"wires":[]},{"id":"a4d4a7eb.36e5b8","type":"comment","z":"d76e464b.066798","name":"stop train","info":"","x":160,"y":1000,"wires":[]},{"id":"e3533aa0.c3ea88","type":"comment","z":"d76e464b.066798","name":"Right and Left Door Train check Close","info":"","x":870,"y":1440,"wires":[]},{"id":"fef4a553.1ec828","type":"comment","z":"d76e464b.066798","name":"Right and Left Door Train check Open","info":"","x":370,"y":1440,"wires":[]},{"id":"ea44f5f3.0bdd68","type":"comment","z":"d76e464b.066798","name":"Call Train","info":"","x":120,"y":520,"wires":[]},{"id":"ccb3f386.638df","type":"comment","z":"d76e464b.066798","name":"Doors","info":"","x":250,"y":1520,"wires":[]},{"id":"51ffe470.30f56c","type":"comment","z":"9605357e.974fc8","name":"Right Doors","info":"Passenger acion on right doors\n","x":240,"y":300,"wires":[]},{"id":"b681af8b.e86b4","type":"comment","z":"9605357e.974fc8","name":"Left Doors","info":"Action on left doors\n","x":220,"y":520,"wires":[]},{"id":"4bfaa458.55088c","type":"comment","z":"65081c49.6197b4","name":"Speed","info":"","x":90,"y":60,"wires":[]},{"id":"bdcf765b.339dc8","type":"comment","z":"65081c49.6197b4","name":"Power","info":"","x":70,"y":320,"wires":[]},{"id":"f925f725.5d4048","type":"comment","z":"65081c49.6197b4","name":"General Infos","info":"","x":90,"y":760,"wires":[]},{"id":"fbcd157e.539f78","type":"comment","z":"65081c49.6197b4","name":"Doors","info":"","x":730,"y":20,"wires":[]},{"id":"5b5700b4.24704","type":"comment","z":"65081c49.6197b4","name":"Brakes","info":"","x":800,"y":460,"wires":[]},{"id":"b12d86f3.df41b8","type":"comment","z":"65081c49.6197b4","name":"Speed Control","info":"","x":180,"y":2220,"wires":[]},{"id":"6f9bedc1.5aa794","type":"comment","z":"65081c49.6197b4","name":"Automated Train","info":"","x":200,"y":1380,"wires":[]},{"id":"e3455ca4.4b32b","type":"comment","z":"65081c49.6197b4","name":"Drift","info":"","x":830,"y":920,"wires":[]},{"id":"f63322e8.34b46","type":"comment","z":"65081c49.6197b4","name":"Speed","info":"","x":830,"y":760,"wires":[]},{"id":"5a93be12.c6ae6","type":"comment","z":"f54e9c0c.924aa","name":"Emergency Call","info":"","x":160,"y":4340,"wires":[]},{"id":"77022971.050bb8","type":"comment","z":"f54e9c0c.924aa","name":"Stop Train","info":"","x":120,"y":2440,"wires":[]},{"id":"79260ea9.f5f82","type":"comment","z":"f54e9c0c.924aa","name":"Left Doors","info":"","x":180,"y":2700,"wires":[]},{"id":"d1bf5dbf.653b7","type":"comment","z":"f54e9c0c.924aa","name":"Right Doors","info":"","x":230,"y":3620,"wires":[]},{"id":"45eef106.8c961","type":"debug","z":"9605357e.974fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":320,"wires":[]},{"id":"e25c53d9.b58d1","type":"inject","z":"9605357e.974fc8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":100,"y":260,"wires":[["b7f74a0c.470568","7f2e66da.8885b8"]]},{"id":"808d1842.bc2468","type":"switch","z":"f54e9c0c.924aa","name":"Check Command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"accelerate","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":2300,"wires":[["695b387a.819378"]]},{"id":"1494b546.4097bb","type":"switch","z":"f54e9c0c.924aa","name":"Check Command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":2600,"wires":[["63878e21.38d1e"]]},{"id":"7f2e66da.8885b8","type":"link out","z":"9605357e.974fc8","name":"","links":["71f9af89.c0fad","e8ac4a59.729f38"],"x":255,"y":260,"wires":[]},{"id":"e8ac4a59.729f38","type":"link in","z":"65081c49.6197b4","name":"","links":["7f2e66da.8885b8"],"x":175,"y":360,"wires":[["9586b286.c47a"]]}]
